<template>
    <q-icon size="xl" name="more_vert">
    <q-popover anchor-click>
    <q-list class="text-faded" separator>        
        <q-item>
        <q-item-main class="q-caption">
            <follow-botton :id="user_id" :type="'follow'" :size="'sm'"/> 
            {{'This'}} 
            <small v-if="is_mentor">{{'Mentor'}}</small>
            <small v-else>{{'User'}}</small>
        </q-item-main>
        </q-item>

        <q-item link v-if="is_mentor" @click.native="subscribe(user_slug)" class="q-caption">
            <q-item-main label="Subscribe"/> to this mentor         
        </q-item>

        <q-item link @click.native="hide_post(post_id)" class="q-caption">
            <q-item-main label="Hide post"/>
        </q-item>

        <q-item link @click.native="opened = true" v-close-overlay class="q-caption">
        <q-item-main label="Report Post"/>
        </q-item>
    </q-list>
    </q-popover>

    <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
    <q-modal-layout>
        <q-toolbar slot="header">
        <q-btn flat round dense v-close-overlay icon="keyboard_arrow_left" />
        <q-toolbar-title>
            Report Post
        </q-toolbar-title>
        </q-toolbar>

            <div class="layout-padding">   
            <q-card  v-if="flag_msg == 'success'">
                <q-card-main>
                    <p class="text-info text-center">
                        Thank you for reporting
                    </p>
                    <q-btn dense v-close-overlay label="close" align="center"/>
                </q-card-main>
            </q-card>  
            <q-list separator v-else>
                <p v-if="flag_msg == 'error'" class="text-negative text-center">
                        SOmthing went wrong : try aggain
                </p>
                <q-item v-for="report in report_post_options" :key="report.id" @click.native="report_post(report.label)" link>                   
                    <q-item-main>
                        <q-item-tile>
                            <h6 class="no-margin q-body-2">{{report.label}}</h6>
                            <span class="text-faded">{{report.subtitle}}</span>
                        </q-item-tile>
                    </q-item-main>
                </q-item>
            </q-list>
            
            </div>

    </q-modal-layout>
    </q-modal>

    </q-icon>
</template>

<script>

import followBotton from './../../../actions/followButton'
import reportPost from './report_post'
export default {
    props:['user_id','is_mentor','user_slug','post_id'],

    data(){
        return{
             opened: false,
             report_post_options: [
                { label: 'Inapropriate post 1',  subtitle: 'subtitle 1',   value: '1' },
                { label: 'Inapropriate post 2',  subtitle: 'subtitle 2',   value: '2' },
                { label: 'Inapropriate post 3',  subtitle: 'subtitle 3',   value: '3' },
                { label: 'Inapropriate post 4',  subtitle: 'subtitle 4',   value: '4' },
            ],
            flag_msg: null,
        }
    },

    components:{
        followBotton,
        reportPost
    },

    methods:{
        hide_post(id){
            this.$store.dispatch('post/hide_post', this.post_id)
        },

        subscribe(slug){
            this.$router.push({name: 'Subscribe', params: {slug: slug}})
        },

        report_post(data){
            this.$store.dispatch('post/hide_post', this.post_id)
            this.$axios.post('api/flag', {
                type: 'post',
                reason: data,
                id: this.post_id,
            })
            .then(Response => {
                this.flag_msg = 'success'
            })
            .catch(err => {
                this.flag_msg = 'error'
            })
        }
    }
}
</script>

<style>

</style>
