<template>
    <div>
        <q-field>
            <q-input v-model="form.content" type="textarea" placeholder="enter comment"/>            
        </q-field>
        <q-btn label="post" @click.native="save_reply"/>
    </div> 
</template>

<script>
export default {
    props: ['post_id','parent_id'],
    data(){
            return{
                form:{
                    post_id: this.post_id,
                    parent_id: this.parent_id,
                    content: ''
                }
            }
    },

    methods:{
        save_reply(){
            this.$axios.post('/api/comment', this.form)
            .then(response => {
            //     this.form.content = '';
            //     if (!response.data.error) {
            //     this.form.content = '';
            //     let payLoad = {
            //         post_id: comment.post_id,
            //         comments: response.data.data
            //     };
            //     // this.$store.commit('updateComments',payLoad);
            // }
        });
        }
    }
}
</script>

<style>

</style>
