<template>
<div>
    <q-btn @click="opened=true" size="sm" no-caps color="secondary" label="Create article"/>

    <q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
    <q-modal-layout>
        <q-toolbar slot="header">
        <q-btn flat round dense v-close-overlay icon="keyboard_arrow_left" />
        <q-toolbar-title>
            Create Article
        </q-toolbar-title>
        </q-toolbar>

         <q-card class="fit">
            <q-card-title>
                <q-item-side>
                    <q-item-tile>                     
                        <q-btn-dropdown no-caps outline dense size="sm" :label="form.social">
                            <q-list link>
                                <q-item v-for="social in socialOptions" :key="social.id" v-close-overlay>
                                <q-item-main>
                                    <q-item-tile label  @click.native="form.social = social.value">
                                        <small>{{social.label}}</small>
                                    </q-item-tile>
                                </q-item-main>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>                      
                    </q-item-tile>
                </q-item-side>
                <q-item-side slot="right">                   
                    <q-item-tile>
                        <q-toggle v-model="form.primium" left-label color="red-8" label="Premium" />
                        <q-toggle v-model="form.comment" left-label color="teal-8" label="Comment" />
                    </q-item-tile>
                </q-item-side>
            </q-card-title>

            <q-card-main class="row">{{get_interest}}
                <q-field :error="$v.form.title.$error" class="col-sm-12 col-md-6">
                    <q-input type="text" inverted v-model="form.title" placeholder="Article Title" float-label="Article Title"/>
                </q-field>
                <q-field :error="$v.form.category.$error" class="col-sm-12 col-md-6">
                    <q-select filter inverted v-model="form.category" :options="socialOptions" placeholder="Select Category" float-label="Select Category" />
                </q-field> 
                <q-field :error="$v.form.post.$error" class="col-md-12">
                    <q-editor toolbar-bg="white" toolbar-push toolbar-text-color="primary" 
                    toolbar-outline v-model="form.post" class="q-px-sm full-width"
                    />
                </q-field>
            </q-card-main>                                

            <q-card-media class="q-px-md">
                <q-item-side>
                    <q-field>
                        <q-uploader color="primary" 
                            hide-underline hide-upload-button hide-upload-progress float-label="image/video"
                            extensions=".gif,.jpg,.jpeg,.png,.mp4,.mp3" 
                            :additionalFields ="[     
                                {'name':'post_id','value': this.media.post_id},
                                {'name':'post_type','value':this.media.post_type},
                            ]"
                            url="/api/media"
                           
                            :headers = "{ Authorization: this.$store.state.auth.state.token }"
                            ref="uploadMedia" 
                        />
                    </q-field>                                       
                </q-item-side>               
            </q-card-media>
            <q-card-separator/>
           <q-card-title class="row">             
                <q-item-side>
                    <q-datetime v-model="form.date" type="datetime" placeholder="Publish Date"
                        minimal clearable hide-underline/>
                </q-item-side> 
                <q-item-side slot="right">
                    <q-btn color="secondary" @click="insert_article">Publish articles</q-btn>
                </q-item-side>               
           </q-card-title>

        </q-card>

    </q-modal-layout>
    </q-modal>            
</div>
</template>

<script>
import {QDatetime, QToggle, QSelect} from 'quasar'
import { required } from 'vuelidate/lib/validators'
export default {
    props:['userData'],

    data () {
        return {
            form: {
                title: '',
                post: '',
                category: '',
                social: '5minutes',
                comment: true,
                primium: true,                
                date: null,
                type: 'article',   
            },
            media: {
                post_id: null,
            },
            loading: false,
            opened: false,
            file_count: 0,
            socialOptions: [
                { label: '5minutes only',         value: '5minutes' },
                { label: '5minutes + Facebook',         value: 'facebook' },
                { label: '5minutes + Twitter',               value: 'twitter' },
                { label: '5minutes + facebook + twitter',               value: 'all' },
            ],
            local_userData: this.userData,
        }
    },

    validations: {
        form: {
            title: { required },
            post: { required },
            category: { required },
        }
    },


    computed:{
        get_interest: function(){
             for(var i; i<this.local_userData.length;){
                 this.local_userData[i].category
            }
        }
    },
    
    components:{
        QDatetime,
        QToggle,
        QSelect,        
    },


 methods: {
    insert_article(){
        this.$v.form.$touch();
        if(this.$v.form.$error){
            return
        }
        this.$axios.post('/api/post', this.form)  
        .then(Response => {  
            this.media.post_id  = Response.data.data
             setTimeout(() => {                
                this.$refs.uploadMedia.upload();
                this.$refs.uploadMedia.reset()
            }, 500)
            
        })
       },
  },


}
</script>

<style>

</style>
