<template>
<q-card flat square color="grey-3">
    <q-tree :nodes="get_comment" node-key="id" default-expand-all>              
        <div slot="default-header" slot-scope="prop" class="row items-center">
          <img src="~assets/boy-avatar.png" class="avatar q-mr-sm">
          <div>
            {{ prop.node.user.name }}
          </div>
        </div>

        <div slot="default-body" slot-scope="prop">
            {{ prop.node.content }}{{prop.node.id}} 
            <q-btn outline size="sm" label="reply" @click="replyToComment = prop.node.id"/>
            <div v-if="replyToComment == prop.node.id">
                <q-field>
                    <q-input v-model="form.content" type="textarea" placeholder="enter comment"/>            
                </q-field>
                <q-btn label="post" @click.native="save_reply({post_id:prop.node.post_id,parent_id:prop.node.id})"/>
            </div>
        </div>
    </q-tree>
   
    <q-field>
        <q-input v-model="form.content" type="textarea" placeholder="enter comment"/>            
    </q-field>
    <q-btn label="post" @click.native="save_reply({post_id:post_id, parent_id:null})"/>
</q-card>    
</template>

<script>
import commentForm from './CommentForm'
export default {
    props:['comment', 'post_id'],

    data(){
        return{
           post_comment:  Object.values(this.comment).flat(),
           replyToComment: null,
           form:{
              content: '', 
           }
        }
    },

    components:{
        commentForm,
    },

    computed:{
        get_comment : function(){
            var object = this.post_comment
            var comment_array = this.post_comment;

            var tree = [],
                mappedArr = {},
                arrElem,
                mappedElem;

            // First map the nodes of the array to an object -> create a hash table.
            for(var i = 0, len = comment_array.length; i < len; i++) {
                arrElem = comment_array[i];
                mappedArr[arrElem.id] = arrElem;
                mappedArr[arrElem.id]['children'] = [];
            }


            for (var id in mappedArr) {
                if (mappedArr.hasOwnProperty(id)) {
                mappedElem = mappedArr[id];
                // If the element is not at the root level, add it to its parent array of children.
                if (mappedElem.parentid) {
                    mappedArr[mappedElem['parent_id']]['children'].push(mappedElem);
                }
                // If the element is at the root level, add it to first level elements array.
                else {
                    tree.push(mappedElem);
                }
                }
            }
            // return tree;

               
                    var map = {}, node, roots = [], i;
                    for (i = 0; i < comment_array.length; i += 1) {
                        map[comment_array[i].id] = i; // initialize the map
                        comment_array[i].children = []; // initialize the children
                    }
                    for (i = 0; i < comment_array.length; i += 1) {
                        node = comment_array[i];
                        if (node.parent_id !== null) {
                            // if you have dangling branches check that map[node.parentId] exists
                            comment_array[map[node.parent_id]].children.push(node);
                        } else {
                            roots.push(node);
                        }
                    }                    
                    return roots;
        }  
    },

    methods:{
           save_reply(data){
            this.$axios.post('/api/comment', {
                post_id: data.post_id,
                parent_id: data.parent_id,
                content: this.form.content,
            })
            .then(Response => {
                this.post_comment.push(Response.data.data)
                this.form.content = '';
            //     if (!response.data.error) {
            //     this.form.content = '';
            //     let payLoad = {
            //         post_id: comment.post_id,
            //         comments: response.data.data
            //     };
            //     // this.$store.commit('updateComments',payLoad);
            // }
        });
        }
    }
}
</script>

<style>

</style>
