<template>
    <q-card square>            
        <q-card-media>
            <img src="~assets/profile.jpg">
        </q-card-media>
        <q-card-title class="relative-position">
        <div>
            <div class="q-mb-lg">
            <img src="statics/boy-avatar.png" class="avatar absolute profile-image">
            </div>
            <div class="q-item-main q-item-section">
            <div class="q-item-label">{{userData.name}}</div>
            <div class="q-item-sublabel" v-for="status in userData.status" :key="status.id">
                <small v-if="status.type === 'education'" class="text-faded">
                    Studied {{status.course}} , at {{status.institution}}
                </small>
                <small v-else-if="status.type === 'work'" class="text-faded">
                    {{status.course}} , at {{status.institution}}
                </small>
                <small v-else-if="status.type === 'award'" class="text-faded">
                    Awarded {{status.award}} , at {{status.institution}}
                </small>
            </div>
            </div>
        </div>
        </q-card-title>
    
        <q-card-separator/>
        <q-list inset-separator>
            <q-item>
            <q-item-main>
                <q-item-tile class="q-body-1">
                    <q-icon color="primary" name="" class="q-mr-md"/>
                    <span>{{userData.allFollowersCount}} followers, </span>
                    <span class="text-faded"> {{userData.followersThisMonthCount}} this month</span>
                </q-item-tile>
            </q-item-main>
            </q-item>
            <q-item>
            <q-item-main>
                <q-item-tile class="q-body-1">
                <q-icon size="ms" color="primary" name="" class="q-mr-md"/>
                    <span>{{userData.allFollowingCount}} following, </span>
                    <span class="text-faded"> {{userData.followingThisMonthCount}} this month</span>
                </q-item-tile>
            </q-item-main>
            </q-item>
            <q-item>
            <q-item-main>
                <q-item-tile class="q-body-1">
                <q-icon size="ms" color="primary" name="" class="q-mr-md"/>
                    <span>{{userData.allPostCount}} post, </span>
                    <span class="text-faded"> {{userData.postThisMonthCount}} this month</span>
                </q-item-tile>
            </q-item-main>
            </q-item>
            <q-item>
            <q-item-main>
                <q-item-tile  class="q-body-1">
                <q-icon size="ms" color="primary" name="" class="q-mr-md"/>
                    <span>{{userData.allViewsCount}} views, </span>
                    <span class="text-faded"> {{userData.viewsThisMonthCount}} this month </span>
                </q-item-tile>
            </q-item-main>
            </q-item>
            <q-item>            
            <q-item-main>
                <q-item-tile  class="q-body-1">
                <q-icon size="ms" color="primary" name="" class="q-mr-md"/>
                    <span>{{userData.allLikesCount}} likes, </span>
                    <span class="text-faded"> {{userData.likesThisMonthCount}} this month </span>
                </q-item-tile>
            </q-item-main>
            </q-item>
            <q-item>            
            <q-item-main>
                <q-item-tile  class="q-body-1">
                    <q-icon size="ms" color="primary" name="" class="q-mr-md"/>
                        <span>{{userData.allCommentCount}} comments, </span>
                        <span class="text-faded"> {{userData.commentThisMonthCount}} this month </span>
                </q-item-tile>
            </q-item-main>
            </q-item>
        </q-list>
        <q-card-separator />
        <q-card-actions>
        <div class="row">
            <img src="/statics/badge/mentor-blue.png" width="20px" height="20px">
            
            <!-- <q-btn dense flat>Tope Mentor</q-btn>
            <q-btn dense flat>Over 1,000</q-btn>
            <q-btn dense flat>Time Manager</q-btn>
            <q-btn dense flat>Loved</q-btn> -->
        </div>                
        </q-card-actions>
    </q-card>
</template>

<script>
export default {
    props:['userData']

}
</script>

<style>

</style>
