<template>
     <div>
        <p>Education</p> 

        <q-btn @click="initialize_save">modal</q-btn>


        <q-list highlight separator v-for="education in educations" :key="education.id">
            <q-list-header>Education</q-list-header>
            <q-item>
                <q-item-side>
                    <q-icon>email</q-icon>
                </q-item-side>
                <q-item-main>
                    <span>Studied {{ education.award }} {{education.course}} ,</span> 
                    <span class="text-muted">at {{education.institution}} {{ education.date_to }}</span>
                </q-item-main>
                <q-item-side right>
                    <q-btn @click="initialize_update(education)">Edit</q-btn>
                    <q-btn v-if="!education.is_default" @click="make_default(education.id)">Make default</q-btn>
                    <q-btn @click="delete_education(education.id)">Delete</q-btn>
                </q-item-side>
            </q-item>
        </q-list>

        <q-modal v-model="opened">
        <q-modal-layout>
            <q-toolbar slot="header">
            <q-btn flat round dense v-close-overlay icon="keyboard_arrow_left" />
            <q-toolbar-title>
                Education
            </q-toolbar-title>
            </q-toolbar>

            <div class="layout-padding">
            <div >
                <q-field>
                    <p v-if="error" color="negative" class="text-negative">
                    {{error}}
                    </p>
                </q-field>
                <q-field :error="$v.form.institution.$error">
                    <q-input type="text" v-model="form.institution" float-label="institution" placeholder="Enter institution"/>
                </q-field>
                 <q-field :error="$v.form.course.$error">
                    <q-input type="text" v-model="form.course" float-label="course" placeholder="Enter course"/>
                </q-field>
                 <q-field :error="$v.form.award.$error">
                    <q-input type="text" v-model="form.award" float-label="award" placeholder="Enter award"/>
                </q-field>
                 <q-field :error="$v.form.date_from.$error">
                    <q-input type="date" v-model="form.date_from" float-label="from" placeholder="Enter from"/>
                </q-field>
                <q-field :error="$v.form.date_to.$error">
                    <q-input type="date" v-model="form.date_to" float-label="to" placeholder="Enter to"/>
                </q-field>
                <q-field>
                    <q-input type="text" v-model="form.type"/>
                </q-field>
                <q-field>
                    <q-input type="text" v-model="form.id"/>
                </q-field>
                <q-field>        
                    <q-btn v-if="btn_type === 'save'" class="full-width" @click="save_education" color="secondary" label="Save Education" :loading="loading" no-caps>
                        <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                        <span slot="loading"> Saving Record..</span>
                    </q-btn>
                    <q-btn v-else-if="btn_type === 'update'" class="full-width" @click="update_education" color="secondary" label="Update Education" :loading="loading" no-caps>
                        <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                        <span slot="loading"> Updating Record..</span>
                    </q-btn>
                </q-field>
            </div> 
            </div>

            <q-toolbar slot="footer">
            <q-toolbar-title>
               achievement Footer
            </q-toolbar-title>
            </q-toolbar>
            
        </q-modal-layout>
        </q-modal>
    </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
export default {
    props:['id'],

     data () {
    return {
        form: {
            institution: "",
            course: '',
            award: '',          
            date_from: '', 
            date_to: '', 
            type: 'education',
            id: ''
        },
        loading: false,
        error: '',
        opened: false,
        btn_type: ''
    }
  },

  validations: {
    form: {
      institution: { required },
      course: { required },
      award: { required },
      date_from: { required },
      date_to: { required },
    }
  },

  computed:{        
    educations : function(){ 
        return ( this.$store.getters['achievement/achievements'].data.filter(education => education.type == 'education'))
        },
    },

    methods:{      
        save_education: function () {
            this.loading = true;
            this.$v.form.$touch();
            if(this.$v.form.$error) {
                // this.$q.notify('Please review fields again.')
                this.loading = false;
                return
            }else{
                this.$store.dispatch('achievement/save_achievement', this.form)
                .then(() => {
                        this.loading = false;
                    }
                )
                .catch(() => {
                    this.error = 'somthing went wrong try again'
                    this.loading = false;
                });
            }        
        },

        initialize_save: function(){
            this.btn_type = 'save'
            this.opened = true
        },

        initialize_update: function(value){
            this.form.institution = value.institution
            this.form.course = value.course
            this.form.award = value.award      
            this.form.date_from = value.date_from
            this.form.date_to = value.date_to
            this.form.type = value.type
            this.form.id = value.id
            this.btn_type = 'update'
            this.opened = true
        },

        update_education(id)
            {
                this.$store.dispatch('achievement/update_achievement', this.form)
                .then(() => {
                        this.loading = false;
                    }
                )
                .catch(() => {
                    this.error = 'somthing went wrong try again'
                    this.loading = false;
                });
            },

        make_default(id){
                let conf = confirm("Are you ready to make this record default status?");
                if (conf === true) {
                    this.$store.dispatch('achievement/make_default_achievement', {
                        id: id,
                        type: 'default',
                    })
                    .then(response => {
                        // this.data.splice(index, 1);
                    })
                    .catch(error => {

                    });
                }
            },

        delete_education(id){
                let conf = confirm("Are you ready to delete this record?");
                if (conf === true) {
                    this.$store.dispatch('achievement/delete_achievement', id)
                    .then(response => {
                        // this.data.splice(index, 1);
                    })
                    .catch(error => {

                    });
                }
            }

    },

}
</script>

<style>

</style>
