<template>
    <q-card flat class="col-md-4 bg-grey-3">        
       <q-list>
            <q-item>
                <q-item-side>
                    <q-item-tile>
                        <img src="/statics/boy-avatar.png" class="avatar">
                    </q-item-tile>
                </q-item-side>
                <q-item-side>
                    <q-item-tile>
                        <div class="q-body-1">{{userData.name}}</div>
                    </q-item-tile>
                </q-item-side>
            </q-item>
            <q-item>
                <q-item-main>
                    <q-search v-model="search" inverted-light color="white" :debounce="600" placeholder="users by name" icon="local_hotel"/>
                </q-item-main>
            </q-item>
            <q-scroll-area  style="height:450px" :thumb-style="{
                    right: '4px',
                    borderRadius: '5px',
                    background: 'secondary',
                    width: '5px',
                    opacity: '1'
                }">
           <q-item link dark separator v-for="contact in sortedContacts"
                :key="contact.id" @click.native="selectContact(contact)" 
                :class="{ 'selected': contact == selected }">
               <q-item-side>
                   <q-item-tile>
                       <img src="/statics/boy-avatar.png" :alt="contact.name" class="avatar">
                   </q-item-tile>
               </q-item-side>
               <q-item-main>
                  <q-item-tile>
                      <p class="name">{{ contact.name }}</p>
                      <span class="unread" v-if="contact.unread">{{ contact.unread }}</span>
                  </q-item-tile>
               </q-item-main>
           </q-item>
           </q-scroll-area>   
       </q-list>         
    </q-card>
</template>

<script>
    export default {
        props:['contacts'],

        data() {
            return {
                selected: this.contacts ? this.contacts[0] : null,
                search: null
            };
        },

        methods: {
            selectContact(contact) {
                this.selected = contact;
                this.$store.commit('chat/selected', contact)
                this.$store.dispatch('chat/get_message',contact.id)
            },
        },

        computed: {
            sortedContacts() {
                return this.contacts.sort((contact) => {
                    if (contact == this.selected) {
                        return Infinity;
                    }
                }).reverse()
            },
            userData: function(){ return this.$store.getters['auth/userData']}
        }
    }
</script>

<style>
.contacts-list {
    flex: 2;
    max-height: 600px;
    overflow: scroll;
    border-left: 1px solid #a6a6a6;
    
}
</style>