<template>
    <q-card flat class="col-md-8">
        <q-card-title>
            <q-item-side  v-if="contact">
                <img src="/statics/boy-avatar.png" class="avatar">
                {{ contact ? contact.name : 'Select a Contact' }}
            </q-item-side>
            <q-item-side v-else>
                <q-item-tile>
                    {{ 'Select a Contact' }}
                </q-item-tile>
            </q-item-side>
        </q-card-title>
        <q-card-separator/>        
        <MessagesFeed :contact="contact" :messages="messages"/>
        <MessageComposer :contact_id="contact.id"/>
    </q-card>
</template>

<script>
    import MessagesFeed from './MessagesFeed';
    import MessageComposer from './MessageComposer';


    export default {
        props: ['contact'],

        computed:{
            messages: function(){ return this.$store.getters['chat/message']}
        },

        components: {MessagesFeed, MessageComposer}
    }
</script>

<style>
.conversation {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>
