<template>
     <span v-if="userData"> 
        <chat v-bind:user="userData.id"></chat>
     </span>
</template>

<script>
import chat from './ChatApp'
export default {
    data(){
        return{
            // user:''
            message:'message',
            conversations: []
        }
    },
    components:{
        'chat': chat,
    },  
    computed:{
        userData(){ return this.$store.getters['auth/userData'] }
    },
    mounted() {
        this.listen();
    },
    methods:{
        post_message(){          
            this.$axios.post('/api/chat',{text:this.message})
        },

        listen() {
            this.$echo.channel('chat')
            .listen('ChatMessage', (e) => {
                this.conversations.push(e.message)
            });
        },
            
    }

}
</script>
