<template>
    <div class="row flex-center">
        <q-field>
            <q-input type="textarea" v-model="form.message" inverted-light color="white" placeholder="Message..."/>
        </q-field>
        <q-field>
            <q-btn color="secondary" label="Send" @click.native="send" />
        </q-field>
    </div>
</template>

<script>
    export default {
        props:['contact_id'],

        data() {
            return {
                form:{
                    message: '',
                    contact_id: this.contact_id,
                }                
            };
        },
        methods: {
            send() {
                 if (!this.contact_id) {
                    return;
                }
                this.$store.dispatch('chat/save_message',this.form)
                .then(Response => {
                    this.form.message = ''
                })
                .catch(err => {

                })
            }
        }
    }
</script>

<style>
textarea {
    width: 96%;
    margin: 10px;
    resize: none;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 6px;
}
</style>

