<template>
    <div>
        <q-card>
            <q-card-header>
               {{'Invoice'}} {{invoice_details.invoice_number}}
            </q-card-header>
            <q-card-main>
                {{invoice_details.user}}
                {{invoice_details.subscription}}
            </q-card-main>
            <q-card-action>
                <q-btn @click="pay_now" label="pay Now"/>
                <q-btn @click="all_banks" label="Get Banks"/>
            </q-card-action>            
        </q-card>
    </div>    
</template>

<script>
export default {
    data(){
        return{
            invoice_details: null,
        }
    },

    created() {
        this.get_invoice_details()
    },

    methods:{
        get_invoice_details(){
            this.$axios.get('/api/invoice/'+ this.$route.params.TransID)
            .then(Response => {
                this.invoice_details = Response.data.data
            })
            .then(err => {
                
            })
        },

        pay_now(){

        },

        all_banks(){
           this.$axios.get('/api/invoice')
            .then(Response => {
                // this.invoice_details = Response.data.data
            })
            .then(err => {
                
            }) 
        }
    }

}
</script>

<style>

</style>
