<template>
 <div>
    <div class="row">
        <div class="col-12">
          <top v-if="slug == userData.slug" :userData="userData"></top>
          <top v-else :userData="profile"></top>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <left/>
        </div>
        <div class="col-md-6">
          <feed :slug="slug"></feed>
        </div>
        <div class="col-md-4">
          <right/>
        </div>
    </div>
 </div>
</template>

<script>
import top from './partials/top-profile'
import feed from './partials/feed'
import left from './partials/left'
import right from './partials/right'
export default {
  props:['slug'],

  data(){
    return{
      profile: null
    }
  },

    components:{
      top,
      feed,
      left,
      right
    },
      
computed: {							
       userData : function(){ return this.$store.getters['auth/userData'] },
    },

    created() {
      this.get_profile();
    },

    methods:{
      get_profile(){
        if(this.$store.getters['auth/userData'].slug !== this.slug){
          this.$store.dispatch('auth/user_profile',this.slug)
        .then(() => {
           this.profile = this.$store.getters['auth/userProfile']
        })
        .catch(err => {           
                reject(err);
            })
        }            
       }
    }
}
</script>

<style>

</style>

