<template>
<div class="row">
        <div class="col-md-3 col-sm-none  q-pr-lg gt-sm">          
          <left></left>
        </div>
        <div class="col-md-6 col-sm-12">
          <compose></compose>
          <feed></feed>
        </div>
        <div class="col-md-3 col-sm-none  q-pl-lg gt-sm">
          <right></right>
        </div>
</div>
</template>

<script>
import feed from "./feed/feed";
import left from "./feed/left";
import right from "./feed/right";
import compose from "./feed/compose";
export default {
    components:{
        feed,
        left,
        right,
        compose
    }
   
}
</script>

<style>

</style>
