<template>
<div class="row">
    <div class="col-md-3 col-sm-none  q-pr-lg gt-sm">          
        <left></left>
    </div>
    <div class="col-md-6 col-sm-12">
      <post :slug="slug" :post="post" :comment="comment"></post>
    </div>
    <div class="col-md-3 col-sm-none  q-pl-lg gt-sm">
        <right></right>
    </div>
</div>
</template>

<script>
import post from "./feed/post";
import left from "./feed/left";
import right from "./feed/right";
export default {
    props:['slug'],

    data(){
        return{
            comment: null
        }
    },

    components:{
        post,
        left,
        right,
    },

   computed:{
        post : function(){ return ( this.$store.getters['post/post'].filter(post => post.slug == this.slug))}
   },

   created() {
        this.get_comment();
    },

    methods:{
        get_comment(){
            this.$axios.get('/api/comment/'+this.slug)
            .then(Response => {
                if(Response.data.status == 'successful'){
                    this.comment = Response.data.data
                }                
            })
        }
    }

}
</script>

<style>

</style>
