<template>
    <subscription v-if="this.$route.name == 'Subscriptions'"></subscription>
    <subscribers v-else-if="this.$route.name == 'Subscribers'"></subscribers>
    <subscribe v-else-if="this.$route.name == 'Subscribe'" :slug="slug"></subscribe>
</template>

<script>
import subscription from './partials/subscription'
import subscribers from './partials/subscribers'
import subscribe from './partials/subscribe'
export default {
    props:['slug'],
    components:{
        subscription,
        subscribers,
        subscribe
    }
}
</script>

<style>

</style>
