<template>
    <p> {{subscribers}} </p>
</template>

<script>
export default {

     created() {
        this.get_subscribers();
    },

    computed:{
        subscribers:function (){ return this.$store.getters['subscription/subscribers']}
    },

    methods:{
         get_subscribers: function () {
            this.$store.dispatch('subscription/get_subscribers', this.$store.getters['auth/userData'].id)
            .then(() => {
                    // this.loading = false;
                }
            )
            .catch(() => {
                // this.error = 
                // this.loading = false;
            });
        },
    }
}
</script>

<style>

</style>
