<template>
    <p> {{subscriptions}} </p>
</template>

<script>
export default {

     created() {
        this.get_subscriptions();
    },

    computed:{
        subscriptions:function (){ return this.$store.getters['subscription/subscriptions']}
    },

    methods:{
         get_subscriptions: function () {
            this.$store.dispatch('subscription/get_subscriptions', this.$store.getters['auth/userData'].id)
            .then(() => {
                    // this.loading = false;
                }
            )
            .catch(() => {
                // this.error = 
                // this.loading = false;
            });
        },
    }
}
</script>

<style>

</style>
