<template>
    <div>
        <top :userData="userProfile"></top>
        <category :category="categgory" :mentor_id="userProfile.id"></category>
    </div>
</template>

<script>
import top from './subscribe/top-profile'
import category from './subscribe/category'
export default {
    props:['slug'],
    
    created() {
        this.get_profile();
        this.get_subscription_categry();
    },

    components:{
        top,
        category
    },

    methods:{
        get_profile(){
            if(!this.$store.getters['auth/userProfile']){
                this.$store.dispatch('auth/user_profile',this.slug)
                .then(() => {
                    // this.profile = this.$store.getters['auth/userProfile']
                })
                .catch(err => {           
                    reject(err);
                })
            }
        },

        get_subscription_categry(){
            this.$store.dispatch('subscription/get_subscription_category')
            .then(() => {
                // this.profile = 
            })
            .catch(err => {           
                reject(err);
            })
        }
    },

    computed:{
        categgory: function(){ return this.$store.getters['subscription/subscription_Categgory']},
        userProfile: function(){ return this.$store.getters['auth/userProfile']},
    }
}
</script>

<style>

</style>
