<template>
    <div>
                 
            <q-card square v-for="post in posts.data" :key="post.id" class="q-mb-sm">        
                <q-card-title>
                    <div>
                        <q-item>
                            <q-item-side avatar="statics/boy-avatar.png" />
                            <q-item-main>
                            <span>
                                {{post.user.name}}<follow-botton :id="post.user_id" :type="'follow'"></follow-botton>
                            </span>
                            <br>
                            <span v-for="status in post.user.status" :key="status.id">
                                <small v-if="status.type === 'education'" class="text-faded">
                                    Studied {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'work'" class="text-faded">
                                    {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'award'" class="text-faded">
                                    Awarded {{status.award}} , at {{status.institution}}
                                </small>
                            </span>
                            <br>
                            <small class="">{{post.created_at}}</small>
                            <q-chip v-if="post.is_premium" color="red" dense square>
                                Premium
                            </q-chip>
                            <q-chip v-else color="secondary" dense square>
                                Free
                            </q-chip>
                            </q-item-main>
                        </q-item>                
                    </div>           
                                
                    <div slot="right" class="row">                                
                        <span v-for="like in post.like" :key="like.id">
                            <span>
                                <img src="/statics/boy-avatar.png" class="avatar">
                                <q-tooltip>
                                    {{like.user.name}}
                                </q-tooltip>  
                            </span>                                    
                        </span>
                        <action-menu></action-menu>              
                    </div>            
                </q-card-title>

                <q-card-separator />

                <q-card-media v-if="post.image">
                    <img src="~assets/donuts.png">
                </q-card-media>

                <q-card-media>
                        
                </q-card-media>

                <q-card-title>
                    {{post.title}}
                </q-card-title>
                
                <q-card-main>
                    <div v-html="post.content"></div>
                </q-card-main>

                <q-card-separator />

                <q-card-actions>
                        <div class="row">
                            <!-- <like-button :id="post.id" :type="'post'" :count="post.likes"></like-button>
                            <bookmark-button :id="post.id" :type="'bookmark'"></bookmark-button>
                            <q-btn v-bind:to="{name: 'Post', params: {slug: post.slug}}"  dense flat>{{post.comment.length}} Comments</q-btn>
                            <q-btn dense flat>{{post.views}}  Views</q-btn>
                            <q-btn dense flat>Share</q-btn> -->
                        </div>                
                </q-card-actions>
                </q-card>
    </div>
</template>

<script>
export default {
    props:['slug'],

     data () {
        return {
            posts:[]
        }
    },

    created() {
        this.get_posts();
    },

    methods:{
       get_posts(){
        this.$axios.get("/api/post/"+this.slug)
        .then(response => {
            if(response.data.status == 'successful'){
                this.posts = response.data.data;
                // resolve(response);
            }else if(response.data.status == 'error'){
                // this.$q.notify(response.data.message)
                return
            }else{
                // this.$q.notify('somthing went wrong. Please try again')
                return
            }
        })
        .catch(err => {           
                reject(err);
            }
        )    
       }
    }
}
</script>

<style>

</style>
