<template>
    <interest></interest>
</template>

<script>
import interest from './../../actions/myInterest'
export default {
    
    components:{
        interest
    }

}
</script>

<style>

</style>
