<template>
    <div>
        <followers/>
        <followings/>
        <!-- <interest-surgest/> -->
    </div>
</template>

<script>
import followers from './../../actions/followers'
import followings from './../../actions/following'
import interestSurgest from './../../actions/interestSuregest'
export default {
    components:{
        followers,
        followings,
        interestSurgest
    }

}
</script>

<style>

</style>
