<template>
    <div class="row">
        <div class="col-md-8 col-sm-12">
          <q-card square class="no-shadow">            
            <q-card-media>
              <img src="~assets/profile.jpg">
            </q-card-media>
              <q-card-main class="relative-position no-padding">   
                  <img src="statics/boy-avatar.png" class="avatar absolute profile-image">
              </q-card-main>
              <q-card-main class="no-padding">
                <q-item>
                  <q-item-side/>
                  <q-item-main/>  
                  <q-item-side>
                    <q-btn label="Sunscribe" align="right" :to="{name: 'Subscribe', params: {slug: userData.slug}}"/>
                    <q-btn label="Invoice" align="right" :to="{name: 'Invoice'}"/>
                  </q-item-side>
                </q-item>                
              </q-card-main>
              <q-card-main class="no-padding">
                {{userData.name}}
                <div class="q-item-sublabel" v-for="status in userData.status" :key="status.id">
                    <small v-if="status.type === 'education'" class="text-faded">
                          Studied {{status.course}} , at {{status.institution}}
                      </small>
                      <small v-else-if="status.type === 'work'" class="text-faded">
                          {{status.course}} , at {{status.institution}}
                      </small>
                      <small v-else-if="status.type === 'award'" class="text-faded">
                          Awarded {{status.award}} , at {{status.institution}}
                      </small>
                  </div>
              </q-card-main>
            
                <q-card-separator />
                <q-card-actions>
                <div class="row">
                    <q-btn dense flat>Mentor</q-btn>
                    <q-btn dense flat>Tope Mentor</q-btn>
                    <q-btn dense flat>Over 1,000</q-btn>
                    <q-btn dense flat>Time Manager</q-btn>
                    <q-btn dense flat>Loved</q-btn>
                </div>                
                </q-card-actions>
          </q-card>
        </div>


        <div class="col-md-4">

          <q-card square class="col-6"> 
                
                <q-card-main class="gt-sm">
                  <q-list separator>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="primary" icon="local bar" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              {{userData.allFollowersCount}} Followers, 
                              {{userData.followersThisMonthCount}} This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="red" icon="local gas station" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              {{userData.allPostCount}} Post, 
                              {{userData.postThisMonthCount}} This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="amber" icon="local movies" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              50 Page View
                              40 This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="amber" icon="local movies" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              20 Like,  
                              15 This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                      </q-list>
                </q-card-main>

                <q-card-main class="lt-sm no-padding">
                    <q-collapsible icon="explore" label="View folloers stats">
                      <q-list separator>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="primary" icon="local bar" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              {{userData.allFollowersCount}} Followers, 
                              {{userData.followersThisMonthCount}} This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="red" icon="local gas station" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              {{userData.allPostCount}} Post, 
                              {{userData.postThisMonthCount}} This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="amber" icon="local movies" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              50 Page View
                              40 This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                        <q-item>
                          <q-item-side>
                            <q-item-tile color="amber" icon="local movies" />
                          </q-item-side>
                          <q-item-main>
                            <q-item-tile label>
                              20 Like,  
                              15 This month
                            </q-item-tile>
                          </q-item-main>
                        </q-item>
                      </q-list>
                    </q-collapsible>
              </q-card-main>
                
                <q-card-separator />
                <q-card-actions>
                actions            
                </q-card-actions>
          </q-card>

        </div>
    </div>
</template>

<script>
import { QCollapsible } from "quasar";
export default {
    props:['userData'],  
    components:{
        QCollapsible
    }
}
</script>

<style>

</style>