<template>
    <q-layout-drawer overlay v-model="leftDrawerOpen" side="left" behavior="desktop" :width="250"
    :content-class="$q.theme === 'mat' ? 'bg-grey-4' : null">

      <q-list no-border link inset-delimiter>
        <q-list-header>
          <q-item-side>
            <img src="statics/boy-avatar.png" alt="avatar"  class="avatar">
          </q-item-side>
          <q-item-main>
            <q-item-tile>{{userData.name}}</q-item-tile>
          </q-item-main>  
          <q-item-main>
            <q-item-tile>
              {{userData.allFollowersCount}} Followers
              {{userData.allFollowingCount}} Following
            </q-item-tile>
          </q-item-main>       
        </q-list-header>

        <q-item-separator class="bg-primary"/>
        
        <q-item @click.native="url('Profile', userData.slug)">
          <q-item-side icon="school" />
          <q-item-main label="Profile"/>
        </q-item>
        <q-item @click.native="url('Subscribers', userData.slug)">
          <q-item-side icon="code" />
          <q-item-main label="Subscribers"/>
        </q-item>
        <q-item @click.native="url('Subscriptions', userData.slug)">
          <q-item-side icon="code" />
          <q-item-main label="Subscriptions"/>
        </q-item>
        <q-item @click.native="url('Chat',  userData.slug)">
          <q-item-side icon="chat" />
          <q-item-main label="Chat"/>
        </q-item>

        <q-item-separator class="bg-primary"/>

        <q-item @click.native="url('Settings', userData.slug)">
          <q-item-side icon="rss feed" />
          <q-item-main label="Account Settings" />
        </q-item>
        <q-item @click.native="url('Help', userData.slug)">
          <q-item-side icon="record_voice_over" />
          <q-item-main label="Help & Support"/>
        </q-item>
        <q-item @click.native="url('Suggestion', userData.slug)">
          <q-item-side icon="rss feed" />
          <q-item-main label="Suggestion" />
        </q-item>        
      </q-list>
    </q-layout-drawer>
</template>

<script>
import { openURL } from 'quasar'
export default {
    data(){
      return{
        leftDrawerOpen: false,
      }
    },

    methods: {
      openURL,
      // (3) Define the callback in methods
      openLeftDrawercb() {
        this.leftDrawerOpen = !this.leftDrawerOpen;
      },

      url(name,slug){
        
      }
    },

    created(){
      this.$root.$on("openLeftDrawer", this.openLeftDrawercb);
    },

    computed:{
        userData : function(){ return this.$store.getters['auth/userData'] },
    },
}
</script>

<style>

</style>
