<template>
    <!-- sticky button the right side of the page -->
<q-page-sticky position="right" class="gt-sm">
  <div class="fit bg-tertiary">   
    <q-btn flat size="xl" round dense icon="email" />
  </div>  
  <div class="fit bg-blue">   
    <q-btn flat size="xl" round dense icon="email" />
  </div> 
  <div class="fit bg-orange">   
    <q-btn flat size="xl" round dense icon="email" />
  </div> 
  <div class="fit bg-teal">   
    <q-btn flat size="xl" round dense icon="email" />
  </div>  
</q-page-sticky>
</template>

<script>
export default {

}
</script>

<style>

</style>
