<template>
    <q-page padding class="flex flex-center" style="width: 1520px; max-width: 90vw;">
        <feed v-if="this.$route.name == 'Feed'"></feed>
        <post v-if="this.$route.name == 'Post'" :slug="this.$route.params.slug">  </post>
    </q-page>
</template>

<script>
import feed from "../components/article/feed";
import post from "../components/article/post";
export default {
    components:{
        feed,
        post,
    },   
}
</script>

<style>

</style>
