<template>
<q-page padding class="flex flex-center">
    <login v-if="this.$route.name == 'Login'"/>
    <register v-else-if="this.$route.name == 'Register'"/>
    <mentor v-else-if="this.$route.name == 'Mentor'"/>
    <organization v-else-if="this.$route.name == 'Organization'"/>
    <success v-else-if="this.$route.name == 'Registration-Success'"/>
    <activate v-else-if="this.$route.name == 'Activate'"/>
    <forgot-password v-else-if="this.$route.name == 'Forgot-Password'"/>
    <reset-password v-else-if="this.$route.name == 'Reset-Password'"/>
    <activate-account v-else-if="this.$route.name == 'Activate-Account'"/>
</q-page>
</template>

<script>
import login from "../components/auth/login";
import register from "../components/auth/register";
import mentor from "../components/auth/mentor";
import organization from '../components/auth/organization';
import success from '../components/auth/success';
import activate from '../components/auth/activate';
import forgotPassword from '../components/auth/forgotPassword'
import resetPassword from '../components/auth/resetPassword'
import activateAccount from '../components/auth/activateAccount'
export default {
    components:{
        login,
        register,
        mentor,
        organization,
        success,
        activate,
        forgotPassword,
        resetPassword,
        activateAccount,
    }
}
</script>

<style>

</style>
