<template>
  <q-page class="docs-carousel full-width">
      <q-carousel infinite arrows autoplay height="450px">
       <q-carousel-slide img-src="/statics/slides/slide-1.jpg" class="row flex-center q-pa-none">
        <div class="row q-pa-lg round-borders self-end full-width" style="background-color: rgba(0, 0, 0, 0.4); 
color: rgba(0, 0, 0, 0.4);">
          <div class="q-headline text-white col-md-12 text-bold">Join the Global Learning Community on the mentor-mentee platform</div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide img-src="/statics/slides/slide-2.jpg" class="row flex-center q-pa-none">
        <div class="row q-pa-lg round-borders self-end full-width" style="background-color: rgba(0, 0, 0, 0.4); 
color: rgba(0, 0, 0, 0.4);">
          <div class="q-headline text-white col-md-12 text-bold">Learn from mentors' experience and avoid landmines </div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide img-src="/statics/slides/slide-3.jpg" class="row flex-center q-pa-none">
        <div class="row q-pa-lg round-borders self-end full-width" style="background-color: rgba(0, 0, 0, 0.4); 
color: rgba(0, 0, 0, 0.4);">
          <div class="q-headline text-white col-md-12 text-bold">Learning on the Go - Any place is just fine</div>
        </div>
      </q-carousel-slide>

      <q-carousel-slide img-src="/statics/slides/slide-4.jpg" class="row flex-center q-pa-none">
        <div class="row q-pa-lg round-borders self-end full-width" style="background-color: rgba(0, 0, 0, 0.4); 
color: rgba(0, 0, 0, 0.4);">
          <div class="q-headline text-white col-md-12 text-bold">It's mobile, it's straight to the point, it only requires 5minutes</div>
        </div>
      </q-carousel-slide>

      <q-carousel-control slot="control-button" slot-scope="carousel" position="bottom-right" :offset="[18, 22]">
        <q-btn round dense push color="primary"
          :icon="carousel.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="carousel.toggleFullscreen()"
        />
      </q-carousel-control>
    </q-carousel>


    <q-card square flat class="row flex-center q-px-xl" color="grey-2">
      <q-card-title class="col-md-12 text-center">
        <div class="q-display-1 q-mb-xs text-bold text-grey-9">Welcome to 5minutes<small class="text-weight-thin" style="font-size: 30%;">&trade;</small>
        </div>
        <p slot="subtitle">the mentor-mentee platform</p>   
      </q-card-title>
    <q-card-main class="col-md-12 text-grey-9" style="width:900px">

        <p class="q-body-2 text-italic">
          If you like straight-to-the-point learning on-the-go through mentorship... This App is for you!
        </p>
        <p class="q-body-1"> 
          5minutes is a learning platform whose objective is to 
          improve overall global learning experience through mentorship,         
          The mentor-mentee platform enables mentors to carry their mentees/proteges through 
          life's journey, posting materials on specific interests/categories
            that can be consumed in no more than 5minutes...
        </p>
        <p class="q-body-1">
          It is uniquely designed as a straight-to-the-point learning 
          tool for this era of information rush and can be accessed anywhere and anytime.
           Basic learning kits such as mentee notes, forum discussions, afterthoughts,
            messaging and chats are included for mentees to enjoy their moments in the app.
             For mentors, in addition to the above, provisions are made for scheduling articles/video 
             contents, organizing other social posts, external event planning and sales of materials such as books.
        </p>
        <p class="q-body-1">
          Imagine learning by following your favorite mentors and tranforming your
           own life in just five minutes
        </p>

      </q-card-main>
    </q-card>

<q-card-separator/>

    <q-card square flat class="row flex-center q-px-sm q-py-lg"> 
      <q-card-main padding class="row">    
        <div>
            <img src="/statics/store/google.png">
        </div>
        <div>
            <img src="/statics/store/apple.png">
        </div>
        <div>
            <img src="/statics/store/window.png">
        </div>    
      </q-card-main>
    </q-card>

<q-card-separator/>

    <q-card square flat class="row flex-center">
      <q-card square flat class="col-md-8  text-center" style="width:700px">
      <q-card-title class="col-md-12">
        <h2 class="q-mb-xs q-title text-bold">Personal Development </h2>
        <p slot="subtitle">Personal Development</p>
      </q-card-title>
      <q-card-main class="col-md-12">
        <p class="q-body-1">
          Learn about basic processes of creating actionable plan based on values, 
          reflection and goal-setting for personal development within the context of 
          self-improvement and career development. Identify and develop talents and 
          potential through self-awareness for an enhanced quality of life and realization 
          of dreams and aspirations. Following the path of one who's 
          been there and done that... avoid the landmines...<q-btn no-caps flat dense class="text-italics">View all interest/category</q-btn>
        </p>
      </q-card-main>
    </q-card>
    <q-card square flat class="col-md-4">      
      <q-card-main class="col-md-12">
        <img src="/statics/home-img/Personal Development.jpg" width="100%" class="round-borders">
      </q-card-main>
    </q-card>
    </q-card>

<q-card-separator/>

    <q-card square flat class="row flex-center">
      <q-card square flat class="col-md-4">      
      <q-card-main class="col-md-12 rounded">
        <img src="/statics/home-img/Faith.jpg" width="100%" class="round-borders">
      </q-card-main>
    </q-card>
    <q-card square flat class="col-md-8 text-center"  style="width:700px">
      <q-card-title class="col-md-12">
        <h2 class="q-mb-xs q-title text-bold">Faith & Religion</h2>
        <p slot="subtitle">Faith & Religion</p>
      </q-card-title>
      <q-card-main class="col-md-12">
        <p class="q-body-1">
          Expand your knowledge on the teachings of your religion and explore the mysteries of the 
          supernatural. Follow religious scholars and learn from the wealth of their 
          revelation as they dive deeper into hidden truths. This category covers and 
          employ scholars from diverse religion like; 
          Christianity, Islam, Buddism, Judaism, Hinduism and and much more...<q-btn no-caps flat dense class="text-italics">View all interest/category</q-btn>
        </p>
      </q-card-main>
    </q-card>    
    </q-card>

<!-- <q-card-separator/>

    <q-card square flat class="row flex-center q-pa-xl q-px-xl"> //style="background-image: url('/statics/store/store-bg.jpeg');"
      <q-card-title class="col-md-12 text-center">
        <img src="/statics/boy-avatar.png" alt="avatar" class="avatar"/>
        <p slot="subtitle">name</p>
      </q-card-title>
      <q-card-main class="col-md-12 text-center">
        <h5>"hello 5minutes description"</h5>
      </q-card-main>
    </q-card> -->

    <q-card-separator/>

    <q-card square flat class="row flex-center">      
    <q-card square flat class="col-md-8 text-center"  style="width:700px">
      <q-card-title class="col-md-12">
        <h2 class="q-mb-xs q-title text-bold">Cuture</h2>
        <p slot="subtitle">Cuture</p>
      </q-card-title>
      <q-card-main class="col-md-12">
        <p class="q-body-1">
          Learn about the outlook, attitudes, values, morals goals, and customs 
          shared by a society or group of people, their 'way of life' 
          and the way they do things. The integrated pattern of human knowledge, 
          belief and behavior in human society which includes expressive forms like 
          arts, music, dance, religion, technologies, clothing and usage of tools among others. 
          Expand your mind and reach far into the great vastness of human diversity...<q-btn no-caps flat dense class="text-italics">View all interest/category</q-btn>
        </p>
      </q-card-main>
    </q-card>
    <q-card square flat class="col-md-4">      
      <q-card-main class="col-md-12">
        <img src="/statics/home-img/Culture.jpg" width="100%" class="round-borders">
      </q-card-main>
    </q-card>    
    </q-card>


  </q-page>
</template>

<style>
</style>

<script>

import { QCarousel,QCarouselSlide,QCarouselControl } from "quasar";

export default {
  name: 'Index',

  data(){
    return{
      form:{
        email: ''
      }
    }
  },
  
  components:{
    QCarousel,
    QCarouselSlide,
    QCarouselControl
  },

    computed : {
      isLoggedIn : function(){ return this.$store.getters['auth/isLoggedIn'] },
      userData : function(){ return this.$store.getters['auth/userData'] },
    },

}
</script>

<style lang="stylus">
@import '~variables'
.docs-carousel
  p.caption:not(:first-of-type)
    margin-top 38px
  .custom-caption
    text-align center
    padding 12px
    color $grey-4
    background rgba(0, 0, 0, .5)
</style>