<template>
  <q-page padding>
    <div v-if="this.$route.params.TransID">
      <invoice/>      
    </div>
    <div v-else>
      <index/>
    </div>
  </q-page>
</template>

<script>
import invoice from './../components/invoice/invoice'
import index from './../components/invoice/index'
export default {
  name: 'Invoice',

  components:{
    invoice,
    index
  }
}
</script>

<style>
</style>
