<template>
    <q-page padding style="width: 1520px; max-width: 90vw;">
        <index/>
    </q-page>
</template>

<script>
import index from './../components/message/index'
export default {
    components:{
        index,
    }
}
</script>

<style>

</style>

