<template>
    <div>
     <q-field>
        <p v-if="error" color="negative" class="text-negative">
           {{error}}
        </p>
     </q-field>
     <q-field :error="$v.form.title.$error">
          <q-input type="text" v-model="form.title" float-label="Note Title" placeholder="Enter Note Title"/>
    </q-field>
    <q-field :error="$v.form.note.$error">
          <q-input type="textarea" v-model="form.note" float-label="Note Content" placeholder="Enter Note Content" @keyup.enter="save_note"/>
    </q-field>
    <q-field>        
        <q-btn class="full-width" @click="save_note" color="secondary" label="Save Note" :loading="loading" no-caps>
            <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
            <span slot="loading"> Saving Note..</span>
        </q-btn>
    </q-field>   
</div> 
</template>

<script>
import note from './../components/note/index'
import { required } from 'vuelidate/lib/validators'
export default {
props:['slug'],

components:{
    note,
},

 data(){
      return {
        form: {
            title: "",            
            note: ""
          },
          loading: false,
          error: '',
      }
    },

 validations: {
    form: {
      title: { required },
      note: { required }
    }
  },

methods:{
 save_note: function () {
        this.loading = true;
        this.$v.form.$touch();
        if(this.$v.form.$error) {
            // this.$q.notify('Please review fields again.')
            this.loading = false;
            return
        }else{
            this.$store.dispatch('note/save_note', this.form)
            .then(() => {
                    this.loading = false;
                }
            )
            .catch(() => {
                this.error = 
                this.loading = false;
            });
        }        
      },
    }


}
</script>

<style>

</style>
