<template>
    <q-page  padding class="flex flex-center">
        <index :slug="this.slug"></index>
    </q-page>
</template>

<script>
import index from '../components/profile/index'
export default {
    props:['slug'],

    components:{
        index,
    }

}
</script>

<style>

</style>
