<template>
    <div>
        
    </div>
</template>

<script>
export default {
   
created() {
    this.social_login(this.$route.params.provider, this.$route.query.code) 
},

methods:{
    social_login(provider, code){
        
        this.$axios.get("/api/"+ provider +"/callback?code="+code)
        .then((response) => {                 
            // this.$store.dispatch('auth/auth_social_login', response.data.token);     
            // this.$store.dispatch('auth/auth_user');
            // this.$store.dispatch('post/get_posts');
            // this.$store.dispatch('post/get_mentors');
            // // this.loading = false;
            // this.$router.push('feed');
            }
        )
        .catch(() => {
            this.error = 
            this.loading = false;
        });
    }
}
}
</script>

<style>

</style>
