<template>
  <q-page padding>
    <index :slug="slug"></index>
  </q-page>
</template>

<script>
import index from './../components/subscription/index'
export default {
  name: 'Subscription',
  props:['slug'],
  components:{
    index
  }
}
</script>

<style>
</style>
