<template>
    <div class="row flex-center">            
        <div class="q-ma-xs"><q-btn @click="social_login('facebook')" outline  no-caps color="blue">Facebook</q-btn></div>
        <div class="q-ma-xs"><q-btn @click="social_login('google')" outline no-caps color="negative">Google</q-btn></div>
    </div>
</template>

<script>
import { openURL } from 'quasar'
export default {
    methods:{
        social_login(data){
        this.$axios.get("/api/social/"+data)
            .then((response) => { 
                console.log(response.data)
                openURL(response.data)
                    // this.$store.dispatch('post/get_posts');
                    // this.$store.dispatch('post/get_mentors');
                    // this.loading = false;
                    // this.$router.push('feed');
                }
            )
            .catch(() => {
                this.error = 
                this.loading = false;
            });
      }
    }
}
</script>

<style>

</style>
