<template>
    <forum-index/>
</template>

<script>
import forumIndex from './partials/index'

export default {
     
    created() {
        this.get_forums();
    },

    methods:{
        get_forums(){
            this.$store.dispatch('forum/get_forums')
        }
    },
        
    components:{
        forumIndex,
    }

}
</script>
