<template>
<div>
   <q-btn label="Create New Forum" @click="opened = true"/>

<q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
  <q-modal-layout>
    <q-toolbar slot="header">
      <q-btn
        flat
        round
        dense
        v-close-overlay
        icon="keyboard_arrow_left"
      />
      <q-toolbar-title>
        Create Forum
      </q-toolbar-title>
    </q-toolbar>

    <div class="layout-padding">
        <q-input v-model="form.name" placeholder="Forum Name"/>       
        <q-select
            multiple
            v-model="form.users"
            :options="selectOptions"
        />
        <q-btn  @click="createForum" label="Create Forum"/>
    </div>
  </q-modal-layout>
</q-modal>
</div>
</template>

<script>
export default {

    data() {
        return { 
            opened: false, 
            form:{
                name: '',
                users: [],
            },
            initialUsers:[],
            
            selectOptions: [
                {
                label: 'Google',
                value: 'goog'
                },
                {
                label: 'Facebook',
                value: 'fb'
                }
            ]
        };
    },

    created() {
        this.initUsers();
    },

   methods:{
    initUsers(){
        
    },

    createForum() {
                Axios.post('/forums', this.form)
                .then((response) => {
                    this.name = '';
                    this.users = [];
                    
                });
            }
    },
}
</script>

<style>

</style>
