<template>
    <q-list link separator>
        <q-item v-for="forum in forums" :key="forum.id" 
        @click.native="setChannel(forum)"
        :class="{ 'active': forum.id == activeChannel }">           
           {{forum.name}}
        </q-item>
    </q-list>
</template>

<script>
export default {
    props: ['forums', 'activeChannel'],

    methods: {        
        setChannel(forum) {
            this.$emit('channelChanged', forum);
        },    
    }

}
</script>

<style>

</style>