<template>
    <div>
        <q-input type="textarea" placeholder="New message"
            v-model="form.message" inverted-light color="white"/>
        <q-btn align="right" label="send" @click="sendMessage" color="secondary"/>
    </div>
</template>

<script>
export default {
    props: ['activeChannel', 'activeChannelName'],

    data() {
        return {
            form:{
                message: '',
                forum_id: this.activeChannel
            }
            
        };
    },

    methods: {
        sendMessage() {
            this.$store.dispatch('forum/save_conversation', this.form)
            .then(Response => {
                this.form.message = ''
            })
        }
    }
}
</script>

<style>

</style>