<template>
       <q-list>
            <q-item>
                <q-item-side>
                    <q-item-tile>
                        <img src="/statics/boy-avatar.png" class="avatar">
                    </q-item-tile>
                </q-item-side>
                <q-item-side>
                    <q-item-tile>
                        <div class="q-body-1">{{userData.name}}</div>
                    </q-item-tile>
                </q-item-side>
            </q-item>
            <q-item>
                <q-item-main>
                    <q-search v-model="search" inverted-light color="white" :debounce="600" placeholder="users by name" icon="local_hotel"/>
                </q-item-main>
            </q-item>
           <q-item dark separator v-for="user in users" :key="user.id">
               <q-item-side>
                   <q-item-tile>
                       <img src="/statics/boy-avatar.png" :alt="user.user.name" class="avatar">
                       {{user.user.name}}
                   </q-item-tile>
               </q-item-side>
           </q-item>
       </q-list> 
</template>

<script>
export default {
    props:['userData'],
    data(){
        return{
            search: null
        }
    },
    computed:{
        users: function(){ return this.$store.getters['forum/users']}
    }
}
</script>

<style>

</style>
