<template>
   <q-scroll-area  style="height:450px" :thumb-style="{
                    right: '4px',
                    borderRadius: '5px',
                    background: 'secondary',
                    width: '5px',
                    opacity: '1'
                }">

        <div v-if="messages" v-for="message in messages" :key="message.id" class="q-pr-md">            
            <q-chat-message  avatar="statics/boy-avatar.png" :name="message.user.name"
                :text="[message.message]" :stamp="message.created_at"  :sent="(message.user_id == userID)"          
            />
        </div>

   </q-scroll-area>
</template>

<script>
import {QChatMessage} from 'quasar'
export default {
	props: ['userID'],
	components:{
            QChatMessage
    },
	computed:{
		messages: function(){ return this.$store.getters['forum/conversation']}
	},

	 mounted() {
            // For each forum...
            for (let forum of this.forums) {

                 this.$echo.channel('forum.'+forum.name)
                    .listen('MessagePushed', data => {
                        if (this.activeChannel == forum.id) {
                        this.messages.push(data.data);
                    }
                });              
            }
            
    },

}
</script>
