<template>
    <q-card class="row">
        <q-card-main class="col-md-2">   
            <create-forum/>        
            <forums :forums="forums" :active-channel="activeChannel" @channelChanged="onChannelChanged"/>                            
        </q-card-main>   
                
        <q-card-main class="col-md-7">                         
            <forum-feed :userID="userData.id" :forums="forums"/>
            <forum-input v-bind:active-channel="activeChannel" v-bind:active-channel-name="activeChannelName"/>                          
        </q-card-main>

        <q-card-main class="col-md-3">            
            <forum-users :userData="userData" />
        </q-card-main>        
    </q-card>
</template>


<script>
    import forums from './Forums.vue'
    import forumFeed from './ForumFeed.vue'
    import forumInput from './ForumInput.vue'
    import forumUsers from './ForumUsers.vue'
    import createForum from './CreateForum.vue'

export default {
    
    data() {
        return {           
            activeChannel: 0,
            activeChannelName: '',
        };
    },

    components:{
        forums,
        forumFeed,
        forumInput,
        forumUsers,
        createForum
    },

    computed:{
        user: function(){return this.$store.getters['auth/userData']},
        forums: function(){ return this.$store.getters['forum/forums']},
        userData: function(){ return this.$store.getters['auth/userData']}
    },

    methods: {
        fetchForumMessages() { this.$store.dispatch('forum/get_forum_conversation', this.activeChannel) },
        fetchForumUsers() { this.$store.dispatch('forum/get_forum_users', this.activeChannel)  },
   
    onChannelChanged(forum) {
            this.activeChannel = forum.id;
            this.activeChannelName = forum.name;
            this.fetchForumUsers();
            this.fetchForumMessages();
        },
    },
        
}
</script>
