<template>
    <q-layout-header>
      
      <q-toolbar color="primary" class="justify-center">
        
        <div class="row justify-between" style="width: 1320px; max-width: 1320px; max-width: 90vw;">
          
          <search-modal v-if="isLoggedIn"></search-modal>

          <div>
            <q-toolbar-title>
              <q-btn flat dense :to="{name: 'Home'}"> <img src="/statics/logo/logo.png" :alt="$t('navigation.avatar')"> </q-btn>     
            </q-toolbar-title>
          </div>

            <search v-if="isLoggedIn" />

          <div>
            <q-btn no-caps icon="home" label="Home" v-if="isLoggedIn" :to="{name: 'Feed'}" flat class="gt-xs"/>
            
            <!-- message notifications menu button -->
             <message v-if="isLoggedIn"/>   

            <!-- notifications  -->
            <notification v-if="isLoggedIn"/>
            
            <q-btn no-caps v-if="!isLoggedIn" :to="{name: 'Register'}" flat label="Sign Up"/>
            <q-btn no-caps v-if="!isLoggedIn" :to="{name: 'Mentor'}" flat label="Become a Mentor"/>
            <q-btn no-caps v-if="!isLoggedIn" :to="{name: 'Organization'}" flat label="Sign Up as Organization"/>
            <q-btn no-caps v-if="!isLoggedIn" :to="{name: 'Login'}" flat label="Login"/>
            
            <q-btn no-caps v-if="!isLoggedIn" :to="{name: 'Register'}" flat label="Referral Request"/>
            <!-- profile menue button -->
            <profile v-if="isLoggedIn" :userData="userData"/>
            
            <q-btn v-if="isLoggedIn" no-caps flat dense class="lt-md" @click="openLeftDrawer">
              <img src="statics/boy-avatar.png" alt="avatar"  class="avatar">              
            </q-btn>

            <!-- language selector -->
            <!-- <language/> -->
          </div>  
        </div>

      </q-toolbar>

    </q-layout-header>
</template>

<script>
import { Platform } from 'quasar'

import search from './partials/search'
import searchModal from './partials/searchModal'
import message from './partials/message'
import notification from './partials/notification'
import profile from './partials/profile'
import language from './partials/language'
export default {
    props:['isLoggedIn'],

  data(){
    return{
      opened: false
    }
  },

    components:{
        search,
        searchModal,
        message,
        notification,
        profile,
        language
    },

    created() {
      this.get_notification();
    },

    computed:{
        userData : function(){ return this.$store.getters['auth/userData'] },
    },

    methods: {
      get_notification(){
        if(this.$store.getters['auth/isLoggedIn']){
          this.$store.dispatch('notification/get_notifications');
        }        
      },

      openLeftDrawer() {
        this.$root.$emit("openLeftDrawer");
      }
    },
}
</script>

<style>

</style>
