<template>
   <q-card square flat style="width: 700px">
       <q-tabs class="shadow-1" animated swipeable inverted align="justify">
            <q-tab no-caps v-for="(thought, index) in thoughts" :key="thought.id" 
                :default="(index == '1') ? true : false" 
                :name="'thought'+thought.id" slot="title" :label="'thought'+(index + 1)" />
            <q-tab-pane v-for="thought in thoughts" :key="thought.id" :name="'thought'+thought.id">{{thought.content}}</q-tab-pane>
            <q-btn @click="opened = true" icon="email">+</q-btn>
        </q-tabs>       
        

        <q-modal v-model="opened">
        <q-modal-layout>
            <q-toolbar slot="header">
            <q-btn
                flat
                round
                dense
                v-close-overlay
                icon="keyboard_arrow_left"
            />
            <q-toolbar-title>
                AfterThoughts
            </q-toolbar-title>
            </q-toolbar>

            <div class="layout-padding">
            <div>
                <q-field>
                    <p v-if="error" color="negative" class="text-negative">
                    {{error}}
                    </p>
                </q-field>
                <q-field :error="$v.form.thought.$error">
                    <q-input type="textarea" v-model="form.thought" float-label="After Thought" placeholder="Enter AfterThought"/>
                </q-field>
                <q-field>        
                    <q-btn class="full-width" @click="save_thought" color="secondary" label="Save AfterThought" :loading="loading" no-caps>
                        <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                        <span slot="loading"> Saving AfterThought..</span>
                    </q-btn>
                </q-field>
            </div> 
            </div>

           
        </q-modal-layout>
        </q-modal>
   </q-card>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { QTabs, QTab, QTabPane } from "quasar";
export default {
 props:['id'],

     data () {
    return {
        thoughts: null,
        form: {
            thought: "",
            },
        loading: false,
        error: '',
        opened: false,
    }
  },

  components:{
      QTabs, QTab, QTabPane 
  },

  validations: {
    form: {
      thought: { required }
    }
  },

    created() {
        this.get_thought();
    },

    methods:{
       get_thought: function () {        
            this.$store.dispatch('thought/get_thoughts', this.id)
            .then(Response => {
                    this.thoughts = Response.data.data               
                }
            )
            .catch(() => {
                this.error = 'error' 
            });
        },

        save_thought: function () {
            this.loading = true;
            this.$v.form.$touch();
            if(this.$v.form.$error) {
                // this.$q.notify('Please review fields again.')
                this.loading = false;
                return
            }else{
                this.$store.dispatch('thought/save_thought', {
                    id:this.id,
                    description:this.form.thought
                })
                .then(Response => {
                        this.thoughts = Response.data.data
                        this.loading = false;
                    }
                )
                .catch(() => {
                    this.error = 'somthing went wrong try again'
                    this.loading = false;
                });
            }        
      },

    },

}
</script>

<style>

</style>
