<template>
    <div class="row">
        <q-card v-for="category in category.data" :key="category.id">
            <q-card-title>
                 {{category.name}}  {{category.currency}}{{category.price}}
            </q-card-title>
        <q-card-separator/>
            <q-card-main>
                {{category.description}}
            </q-card-main>
        <q-card-separator/>
            <q-card-actions>
                <q-btn @click="subscribe(category.id,category.planId)" class="full-width">Subscribe</q-btn>
            </q-card-actions>
        </q-card>
    </div>
</template>

<script>
import { date } from "quasar";
export default {
    props:['category','mentor_id'],
    computed:{
        userData: function(){ return this.$store.getters['auth/userData']}
    },
    methods:{
        subscribe(id,planId){
            let TransID = '5p'+ this.userData.id + this.mentor_id + Number(new Date());
            this.$axios.post('/api/invoice', {  
                    mentorID : this.mentor_id,
                    TransID : TransID,
                    type : id,    
                })
                .then(response => {                 
                    this.$router.push({ name: 'Invoice', params:{ TransID: TransID, data: id }}) 
                })               
                .catch(err => {
                    
                })

        // let TransID = new Date().valueOf();
        // this.$axios.post('https://api.amplifypay.com/merchant/transact', {
        //     merchantId : "LOQ872EGJK52YMKCBEG",
        //     apiKey : "54ac96ce-cf1d-4bc3-8058-57a4b634f727",
        //     customerEmail : this.userData.email, 
        //     customerName : this.userData.name, 
        //     TransID : TransID,
        //     Amount : "1000.00", 
        //     redirectUrl : "http://localhost:8000/invoice/payment",
        //     paymentDescription : "5minutes Subscription:",
        //     planId : planId
        // }).then(response => {
        //       this.$axios.post('../api/invoice', {  
        //             mentorID : this.mentor_id,
        //             TransID : response.data.TransID,
        //             TransactionRef : response.data.TransactionRef,
        //             PaymentUrl : response.data.PaymentUrl,
        //             type : id,    
        //         }).then(response => {                    
        //             this.$router.push({ name: 'Invoice', params:{ TransID: TransID }}) 
        //         }).catch(err => {
                    
        //         })
                        
        // })  
    }
    }
}
</script>

<style>

</style>
