<template>
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6 col-sm-12">
          <q-card square class="no-shadow">            
            <q-card-media>
              <img src="statics/profile.jpg">
            </q-card-media>
              <q-card-title class="relative-position">
                <div>
                  <div class="q-mb-lg">
                    <img src="statics/boy-avatar.png" class="avatar absolute profile-image">
                  </div>
                  <div class="q-item-main q-item-section">
                    <div class="q-item-label">{{userData.name}}</div>
                    <div class="q-item-sublabel" v-for="status in userData.status" :key="status.id">
                      <small v-if="status.type === 'education'" class="text-faded">
                            Studied {{status.course}} , at {{status.institution}}
                        </small>
                        <small v-else-if="status.type === 'work'" class="text-faded">
                            {{status.course}} , at {{status.institution}}
                        </small>
                        <small v-else-if="status.type === 'award'" class="text-faded">
                            Awarded {{status.award}} , at {{status.institution}}
                        </small>
                    </div>
                  </div>
                </div>
              </q-card-title>
            
                <q-card-separator />
                <q-card-actions>
                <div class="row">
                    <q-btn dense flat>Mentor</q-btn>
                    <q-btn dense flat>Tope Mentor</q-btn>
                    <q-btn dense flat>Over 1,000</q-btn>
                    <q-btn dense flat>Time Manager</q-btn>
                    <q-btn dense flat>Loved</q-btn>
                </div>                
                </q-card-actions>
          </q-card>
        </div>


        <div class="col-md-3">
          
        </div>
    </div>
</template>

<script>
export default {
    props:['userData'],  
}
</script>

<style>

</style>