<template>
      <!-- mobile footer -->
    <q-layout-footer v-if="isLoggedIn">
      <q-tabs color="teal" inverted class="justify-between lt-md" swipeable>
        <q-route-tab slot="title" :to="{name: 'Home'}" icon="home" default />
        <q-route-tab slot="title" :to="{name: 'Message'}" icon="email"/>
        <q-route-tab slot="title" :to="{name: 'Profile'}" replace>
          <img src="statics/boy-avatar.png" alt="avatar"  class="avatar">
        </q-route-tab>
        <q-route-tab slot="title" icon="input" :to="{name: 'Chat'}" />
        <q-route-tab slot="title" icon="input" :to="{name: 'Notifications'}" />      
      </q-tabs>
    </q-layout-footer>

    <!-- destop footer -->
    <q-card v-else square class="bg-teal-9">
      <q-card-main class="bg-teal-8 q-pa-md">
          <div class="text-center"><q-btn color="red" no-caps no-wrap>Become a mentor</q-btn></div>
      </q-card-main>
      <!-- <q-card-separator/> -->
      <q-card-main class="row flex-center q-pb-md">
          <q-card square flat class="q-pa-none">
            <q-card-main class="col-md-12 text-center">
              <h5 class="text-white q-my-sm">Quick Link</h5>
              <div class="row" style="line-height: 0rem;">
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="About us" class="q-caption text-white"/>
                </div>
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="Contact us" class="q-caption text-white"/>
                </div>
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="FAQ" class="q-caption text-white"/>
                </div>                
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="Help & Support" class="q-caption text-white"/>
                </div>
              </div>
            </q-card-main>
          </q-card>
          <q-card square flat class="">
            <q-card-main class="col-md-12 text-center">
              <h5 class="text-white q-my-sm">Policies</h5>
              <div class="row" style="line-height: 0rem;">
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="Terms & Conditions" class="q-caption text-white"/>
                </div>
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="Privacy Policy" class="q-caption text-white"/>
                </div>
                <div class="col-md-12">
                  <q-btn flat no-caps no-wrap dense label="Cookies Policy" class="q-caption text-white"/>
                </div>
              </div>
            </q-card-main>
          </q-card>
          <q-card square flat class="">
           <q-card-title  class="col-md-12 text-center">
              <h5 class="text-white q-my-sm">Newsletter</h5>
              <div class="row">
                <q-field>
                  <q-input v-model="form.email" inverted-light color="white" placeholder="Enter Email Address"></q-input>
                  <q-btn color="red" label="Subscribe" class="q-mt-sm"></q-btn>
                </q-field>
              </div>
            </q-card-title>
          </q-card>
      </q-card-main>
      <q-card-separator/>
      <q-card-main class="bg-teal-9 q-pa-md">
          <div class="small text-center text-white">Copyright 2018 (c) 5minutes Inc</div>
      </q-card-main>
    </q-card>

     

</template>

<script>
export default {
  props:['isLoggedIn'],
  data(){
    return{
      form:{
        email: '',
      }
    }
  }
}
</script>

<style>

</style>
