<template>
  <div id="q-app">
    <router-view />
    <q-ajax-bar skip-hijack color="positive"/>
  </div>
</template>

<script>
import { Loading } from 'quasar'
import { LocalStorage } from 'quasar'
export default {
   preFetch ({ store, redirect, axios }) {      
     if(LocalStorage.get.item('5minutes-token')){   
       store.dispatch('post/get_mentors');
       store.dispatch('category/get_categories');
       store.dispatch('auth/auth_user'); 
     }   
    },

    created () {
    this.$q.addressbarColor.set('#00695c');
    this.$root.$on("openLeftDrawer", this.openLeftDrawercb);
  }

}
</script>

<style>
img.avatar {
    width: 30px;
    height: 30px;
}
img.big-avatar {
    width: 100px;
    height: 100px;
}
img.profile-image {
  top: 0; 
  left: 8px; 
  transform: translateY(-60%); 
  width:100px; 
  height:100px;
  border:5px solid #00695c;
}

img.index-image {  
  width:100%; 
  height:100%;
  
}


.feed-like-avatar-margin {
  margin-left: -10px;
}
</style>
