<template>
   
<q-btn-dropdown no-caps outline dense :label="lang_fileter.label" class="gt-md">
  <q-list link>
    <q-item v-for="lang in lang_options" :key="lang.id" v-close-overlay>
      <q-item-main>
        <q-item-tile label  @click.native="select_lang(lang.value)">{{lang.label}}</q-item-tile>
      </q-item-main>
    </q-item>
  </q-list>
</q-btn-dropdown>

</template>

<script>
import { LocalStorage } from 'quasar'
export default {
    data () {
    return {
      lang: LocalStorage.get.item('5minutes-lang') || this.$q.i18n.lang,
      lang_options: [
      { label: 'English (US)',         value: 'en-us' },
      { label: 'French',               value: 'fr' },
      { label: 'Arabic',               value: 'ar' },
    ],
    }
  },
  watch: {
    lang (lang) {
      this.$i18n.locale = (lang)
      // dynamic import, so loading on demand only
      import(`quasar-framework/i18n/${lang}`).then(lang => {
        this.$q.i18n.set(lang.default)        
      })
    }
  },

  methods:{
      select_lang(value){
          this.lang = value
          LocalStorage.set('5minutes-lang', value)
      }
  },

  computed:{
      lang_fileter(){
          var data = this.lang_options.filter(lang => lang.value == this.lang);
          return data.reduce((acc, cur) => ({ ...acc, ['label']: cur.label }), {})
      }
  }
}
</script>

<style>

</style>
