<template>
    <q-btn class="gt-sm" no-caps no-ripple no-wrap flat icon="">
        <span class="gt-md"> {{$t('navigation.message')}}</span>
    <q-popover anchor="bottom right" self="top right" style="width:400px" class="scroll">
    <q-list inset-separator>
       <q-item>
            <q-item-side color="primary">
                <q-item-tile>{{$t('navigation.allMessages')}}</q-item-tile>
            </q-item-side>
            <q-item-main/>
            <q-item-side color="primary">
                <q-item-tile>{{$t('navigation.settings')}}</q-item-tile>
            </q-item-side>
        </q-item>
       <q-item-separator/>
        <q-item link v-for="message in message" :key="message.id">            
            <q-item-side icon="folder" inverted color="primary" />
            <q-item-main>
            <q-item-tile class="ellipsis">{{message.user.name}} sent you a message</q-item-tile>
            <q-item-tile class="ellipsis-2-lines">{{message.text}}</q-item-tile>
            </q-item-main>
        </q-item>
    </q-list>
        </q-popover> 
        <q-chip v-if="message" floating color="negative">{{message.length}}</q-chip>   
    </q-btn>
</template>

<script>
export default {
   computed : {
      message : function(){ return this.$store.getters['notification/message'] },
    },
}
</script>

<style>

</style>
