<template>
    <q-btn class="gt-sm" no-caps no-ripple no-wrap flat icon="">
        <span class="gt-md">{{$t('navigation.notification')}}</span>
        <q-popover anchor="bottom right" self="top right" style="width:400px">
        <q-list inset-separator>
            <q-item>
                <q-item-side color="primary">
                    {{$t('navigation.allNotifications')}}
                </q-item-side>
                <q-item-main/>
                <q-item-side  color="primary">
                        {{$t('navigation.settings')}}
                </q-item-side>
            </q-item>
            <q-item-separator/>
            <q-item link v-for="notification in notification" :key="notification.id">
                <q-item-side icon="folder" inverted color="primary" />
                <q-item-main>
                    <q-item-tile>{{notification.data.name}}</q-item-tile>
                    <q-item-tile>{{notification.data.body}}</q-item-tile>
                </q-item-main>
            </q-item>
        </q-list>
        </q-popover>   
        <q-chip v-if="notification" floating color="negative">{{notification.length}}</q-chip>     
    </q-btn>
</template>

<script>
export default {
   computed : {
      notification : function(){ return this.$store.getters['notification/notification'] },
    },
}
</script>

<style>

</style>
