<template>
   
    <q-btn no-caps flat dense class="gt-sm" icon-right="keyboard_arrow_down">
    <img src="statics/boy-avatar.png" :alt="userData.name + ' avatar'"  class="avatar">
    <span class="q-ml-sm">
        {{userData.name}}
    </span>                
        
    <q-popover anchor="bottom right" self="top right">
        <q-list no-border separator dense>
            <q-item>
            <q-btn no-caps dense flat icon="" :to="{name: 'Profile', params: {slug: userData.slug}}" label="Profile"/>
            </q-item>
            <q-item>
            <q-btn :to="{name: 'Forum'}" no-caps dense flat icon="" label="Forum"/>
            </q-item>
            <q-item>
            <q-btn :to="{name: 'Message'}" icon="" flat dense no-wrap no-caps label="Message"></q-btn>
            </q-item>
            <q-item>
            <q-btn :to="{name: 'Chat'}" icon="" flat dense no-wrap no-caps label="Chat"></q-btn>
            </q-item>
            <q-item>
            <q-btn :to="{name: 'Subscribers', params: {slug: userData.slug}}" icon="" flat dense no-wrap no-caps label="Subscribers"></q-btn>
            </q-item>
            <q-item>
            <q-btn :to="{name: 'Subscriptions', params: {slug: userData.slug}}" icon="" flat dense no-wrap no-caps label="Subscription"></q-btn>
            </q-item>
            <q-item>
            <q-btn icon="" flat dense no-wrap no-caps label="Help & Support"></q-btn>
            </q-item>
            <q-item>
            <q-btn icon="" flat dense no-wrap no-caps label="Suggestion"></q-btn>
            </q-item>
            <q-item>
            <q-btn icon="" :to="{name: 'Settings', params: {slug: userData.slug}}" flat dense no-wrap no-caps label="Account Settings"></q-btn>
            </q-item>
            <q-item>
            <q-btn @click="logout" flat dense no-caps icon="" label="Logout"/>
            </q-item>                      
        </q-list>
    </q-popover>          
</q-btn>
</template>

<script>
export default {

    props:['userData'],
 
    methods:{
        logout: function (){ 
        this.$store.dispatch('auth/auth_logout')
            .then(() => {
                this.$router.push({name: 'Home'});
            })
            .catch();
        }
    }
}
</script>

<style>

</style>
