<template>
    <div> 

 <q-btn @click="opened=true" flat icon="search" class="lt-sm"/>

<q-modal v-model="opened" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
  <q-modal-layout>
    <q-toolbar slot="header">
      <q-btn flat round dense v-close-overlay icon="keyboard_arrow_left" />
      <q-toolbar-title>
        Search
      </q-toolbar-title>
    </q-toolbar>

    <q-toolbar slot="header">
      <q-search inverted v-model="search" :debounce="1000" clearable lower-case no-parent-field color="none" class="scroll col" />
    </q-toolbar>

     <div class="layout-padding">     
        <q-list inset-separator>
            <q-item v-for="data in data" :key="data.id">
                <q-item-side>
                <q-item-tile avatar>
                    <img src="statics/boy-avatar.png">
                </q-item-tile>
                </q-item-side>
                <q-item-main>
                    <q-item-tile class="ellipsis">{{data.title}}</q-item-tile>
                    <q-item-tile class="ellipsis-2-lines">{{data.content}}</q-item-tile>
                </q-item-main>
            </q-item>
        </q-list>

    </div>

  </q-modal-layout>
</q-modal>
        
    </div>
</template>

<script>
export default {
    
  data () {
    return {
      search: '',
      data: null,
      opened: false
    }
  },

    watch: {
        search: function(newValue, oldValue) {
            if(newValue){
                this.$axios.get("/api/search/"+newValue)
                .then(response => {
                    this.data = response.data;
                })
            }
        }
    },
    
}
</script>

<style>

</style>
