<template>
    <div class="col">       
        <q-search inverted v-model="search" :debounce="1000" clearable lower-case no-parent-field color="none" class="scroll gt-xs">
         
        <q-popover fit no-focus max-height="350px" style="width: 675px">
        <q-list inset-separator>
            <q-item v-for="data in data" :key="data.id">
                <q-item-side>
                <q-item-tile avatar>
                    <img src="statics/boy-avatar.png">
                </q-item-tile>
                </q-item-side>
                <q-item-main>
                    <q-item-tile class="ellipsis">{{data.title}}</q-item-tile>
                    <q-item-tile class="ellipsis-2-lines">{{data.content}}</q-item-tile>
                </q-item-main>
            </q-item>
        </q-list>
        </q-popover>

        </q-search>
        
    </div>
</template>

<script>
export default {
    
  data () {
    return {
      search: '',
      data: null,
    }
  },

    watch: {
        search: function(newValue, oldValue) {
            if(newValue){
                this.$axios.get("/api/search/"+newValue)
                .then(response => {
                    this.data = response.data;
                })
            }
        }
    },
    
}
</script>

<style>

</style>
