<template>
    <div>
        <transition enter-active-class="animated bounceInLeft" leave-active-class="animated bounceOutRight" appear >
            <q-alert v-if="error.status" color="negative" icon="cloud" appear
                :actions="[{ label: 'Dismiss', handler: () => { error.status = false } }]"
                class="q-mb-sm">
                {{error.message}}
            </q-alert>
        </transition>

        <q-card square class="q-mb-md">
             <q-card-main class="no-padding">
                 <q-item>
                    <q-item-side>
                    <q-item-tile>
                        <img src="statics/boy-avatar.png" class="avatar">
                        <small> {{userData.name}} </small>
                        <q-btn-dropdown no-caps outline dense size="sm" :label="form.social">
                            <q-list link dense>
                                <q-item v-for="social in socialOptions" :key="social.id" v-close-overlay>
                                <q-item-main>
                                    <q-item-tile  @click.native="form.social = social.value">
                                        <small class="q-body-1">{{social.label}}</small>
                                    </q-item-tile>
                                </q-item-main>
                                </q-item>
                            </q-list>
                        </q-btn-dropdown>
                    </q-item-tile>
                </q-item-side>
                <q-item-main/>
                <q-item-side>                   
                    <q-item-tile>
                        <!-- <q-toggle v-model="form.comment" left-label color="teal-8" label="Comment" /> -->
                    </q-item-tile>
                </q-item-side>
                </q-item>
             </q-card-main>

            <q-card-main class="q-pt-none">
                <q-field class="fit">
                    <q-input type="textarea" rows="2" inverted-light color="white" :max-height="100" v-model="form.post" placeholder="Daily Motivation" />
                </q-field>
            </q-card-main>                                

            <!-- <q-card-media class="flex-center">
                <q-item-side>
                    <q-field class="q-px-md">
                        <q-uploader multiple hide-underline hide-upload-button 
                            hide-upload-progress auto-expand 
                            float-label="image/video"
                            extensions=".gif,.jpg,.jpeg,.png,.mp4,.mp3" 
                            :additionalFields ="[     
                                {'name':'post_id','value': this.media.post_id},
                                {'name':'post_type','value':this.media.post_type},
                            ]"
                            url="/api/media"
                            @add ='upload_add' 
                            @finish ="upload_finish" 
                            @remove:cancel="upload_file_remove"
                            :headers = "{ Authorization: this.$store.state.auth.state.token }"
                            ref="uploadMedia" 
                        />
                    </q-field>                                       
                </q-item-side>                
            </q-card-media> -->
            <q-card-separator/>
           <q-card-main class="no-padding">
                <q-item>
                    <q-item-side>
                        <compose-article :userData="userData" />
                    </q-item-side>
                    <q-item-main/>               
                    <q-item-side>
                        <q-btn size="sm" color="secondary" @click.native="post">Post</q-btn>
                    </q-item-side>
                </q-item>              
           </q-card-main>
        </q-card>
    </div>
</template>

<script>
import {QToggle, QSelect} from 'quasar'
import composeArticle from './partials/compose-article'
export default {
    data () {
        return {
            form: {
                post: '',
                social: '5minutes',
                comment: false,
                type: 'post'     
            },
            media: {
                post_id: null,
                post_type: 'post',
            },
            loading: false,
            error:{
                status: false,
                messae: ''
            },
            opened: false,
            file_count: 0,
            socialOptions: [
                { label: '5minutes only',         value: '5minutes' },
                { label: '5minutes + Facebook',         value: 'facebook' },
                { label: '5minutes + Twitter',               value: 'twitter' },
                { label: '5minutes + Facebook + Twitter',               value: 'all' },
            ],
        }
    },

  components:{
      QToggle,
      QSelect,
      composeArticle,
  },

    computed:{
         userData : function(){ return this.$store.getters['auth/userData'] },
    },
 
  methods: {
    post(){
        this.error.status = false
        if(this.form.post == '' && this.file_count < 1){
            this.error.status = true
            this.error.message = 'Please type a post or upload media file'
            return
        }
        this.$axios.post('/api/post', this.form)  
        .then(Response => {  
            this.media.post_id  = Response.data.data  
             setTimeout(() => {
               this.$refs.uploadMedia.upload();
            }, 500)
            
        })
       },
    upload_add(files){
        this.file_count++ 
    },
    upload_finish(){
        this.$refs.uploadMedia.reset();
    },
    upload_file_remove(file){
        this.file_count-- 
    }
  }
}
</script>

<style>

</style>
