<template>
        <div>
        <!-- <q-infinite-scroll :handler="loadMore" inline> -->
            <div v-for="post in posts" v-bind:key="post.id">

                <!-- articles scructure -->
                <q-card v-if="post.content_type == 'article'" square class="q-mb-sm">        
                <q-card-actions>                    
                    <div class="row fit">
                        <q-item class="full-width q-py-none">
                            <q-item-side>
                                <q-btn dense flat round :to="{name: 'Profile', params: {slug: post.user.slug}}">
                                    <img src="statics/boy-avatar.png" alt="" class="avatar">
                                </q-btn>                                
                            </q-item-side>
                            <q-item-main>
                            
                            <div>
                                <span>{{post.user.name}} </span>
                                <follow-botton :id="post.user_id" :type="'follow'" :size="'xs'"/>
                            </div>
                            
                            <span v-for="status in post.user.status" :key="status.id" class="text-truncate 	text-faded">
                                <small v-if="status.type === 'education'">
                                    Studied {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'work'">
                                    {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'award'">
                                    Awarded {{status.award}} , at {{status.institution}}
                                </small>
                            </span>
                            
                            <div>
                                <small class="q-caption text-faded">{{post.created_at}}</small>
                                <q-chip v-if="post.is_premium" color="red" dense square>
                                    Premium
                                </q-chip>
                                <q-chip v-else color="secondary" dense square>
                                    Free
                                </q-chip>
                            </div>


                            </q-item-main>
                            <q-item-side right>
                                <span  class="gt-sm">
                                    <span v-for="like in post.like" :key="like.id" class="feed-like-avatar-margin">
                                        <q-btn dense flat round :to="{name: 'Profile', params: {slug: post.user.slug}}">
                                            <img src="statics/boy-avatar.png" alt="" class="avatar">
                                        </q-btn>                           
                                        <q-tooltip>
                                            {{like.user.name}}
                                        </q-tooltip>  
                                    </span> 
                                    <span v-if="post.like.length > 4">
                                        <q-btn icon="email" round size="md"/>
                                        <q-tooltip>
                                            view all
                                        </q-tooltip>  
                                    </span>                                    
                                </span>
                               
                                <action-menu :post_id="post.id" :user_id="post.user.id" :user_slug="post.user.slug" :is_mentor="post.user.is_mentor" class="q-ml-md"/>
                            </q-item-side>
                        </q-item>                
                    </div>           
                      
                </q-card-actions>

                <q-card-separator />

                <q-card-media v-if="post.image">
                    <img src="~assets/donuts.png">
                </q-card-media>

                <q-card-title>
                    <h5 class="no-margin">{{post.title}}</h5>
                </q-card-title>
                
                <q-card-main>
                    <span v-trimHTML v-html="post.content" v-trim></span><q-btn label="read more" dense no-caps no-ripple no-wrap flat/>
                </q-card-main>

                <q-card-separator />

                <q-card-actions>
                    <div class="row">                            
                        <like-button :id="post.id" :type="'post'" :count="post.likes"></like-button>
                        <bookmark-button :id="post.id" :type="'bookmark'"></bookmark-button>
                        <q-btn no-caps v-bind:to="{name: 'Post', params: {slug: post.slug}}" dense flat :class="post.comment.length ? '' : 'text-faded'">
                            {{post.comment.length}} Comments
                        </q-btn>
                        <q-btn no-caps dense flat :class="post.views ? 'text-info' : 'text-faded'">{{post.views}}  Views</q-btn>
                        <q-btn no-caps dense flat class="text-faded">Share
                            <q-tooltip>
                                {{'under testing'}}
                            </q-tooltip>  
                        </q-btn>
                        <q-btn no-caps dense flat :class="post.after_thought.length ? 'text-info' : 'text-faded'">
                            {{post.after_thought.length}} After Thouhts
                        </q-btn>
                    </div>                
                </q-card-actions>
                </q-card>



                <!-- post structure -->
                <q-card color="teal-6" v-if="post.content_type == 'post'" square class="q-mb-sm">        
                <q-card-actions>                    
                    <div class="row" style="width:100%">
                        <q-item style="width:100%">
                            <q-item-side>
                                <img src="statics/boy-avatar.png" alt="" class="avatar">
                            </q-item-side>
                            <q-item-main>
                            {{post.user.name}}<follow-botton :id="post.user_id" :type="'follow'" :size="'xs'"></follow-botton>
                            <br>
                            <span v-for="status in post.user.status" :key="status.id">
                                <small v-if="status.type === 'education'" class="text-faded">
                                    Studied {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'work'" class="text-faded">
                                    {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'award'" class="text-faded">
                                    Awarded {{status.award}} , at {{status.institution}}
                                </small>
                            </span>
                            <br>
                            <small class="">{{post.created_at}}</small>
                                <q-chip color="red" dense square>
                                    Daily motivation
                                </q-chip>                           
                            </q-item-main>
                            <q-item-side right>
                                <span v-for="like in post.like" :key="like.id">
                                    <span>
                                        <img src="/statics/boy-avatar.png" class="avatar">
                                        <q-tooltip>
                                            {{like.user.name}}
                                        </q-tooltip>  
                                    </span>                                    
                                </span>
                                <action-menu :post_id="post.id" :user_id="post.user.id" :user_slug="post.user.slug" :is_mentor="post.user.is_mentor"></action-menu> 
                            </q-item-side>
                        </q-item>                
                    </div>           
                      
                </q-card-actions>

                <q-card-separator />

                <q-card-media v-if="post.image">
                    <img src="~assets/donuts.png">
                </q-card-media>

                <q-card-main>
                    <div v-html="post.content"></div>
                </q-card-main>

                <q-card-separator />

                <q-card-actions>
                    <div class="row">                            
                        <like-button :id="post.id" :type="'post'" :count="post.likes"></like-button>
                        <bookmark-button :id="post.id" :type="'bookmark'"></bookmark-button>                        
                        <q-btn no-caps dense flat class="text-faded">Share</q-btn>
                    </div>                
                </q-card-actions>
                </q-card>


            </div>
            
                
            <!-- <q-spinner-dots slot="message" :size="100"></q-spinner-dots> -->
        <!-- </q-infinite-scroll> -->

        </div>
</template>

<script>
import actionMenu from './partials/action-menu';
import followBotton from './../../actions/followButton'
import likeButton from './../../actions/likeButton'
import bookmarkButton from './../../actions/bookmarkButton'
export default {
   
  computed:{
        posts : function(){ return this.$store.getters['post/posts']}, 
        meta : function(){ return this.$store.getters['post/posts_meta'] }       
    },

    created() {
        this.get_post();
        this.post1 = this.posts;
    },
    
    methods:{        
        get_post(){
            this.$store.dispatch('post/get_posts')
        },

        loadMore: function(index, done) {            
             setTimeout(() => {
                if(this.meta.current_page <= this.meta.last_page){
                    this.$store.dispatch('post/load_more_posts', (this.meta.current_page + 1));
                     done();
                }else{
                    done(true);                  
                }
            }, 5000)
        },

        refresher (index, done) {
            setTimeout(() => {
                let items = []
                for (let i = 0; i < 7; i++) {
                items.push({})
                }
                this.items = this.items.concat(items)
                done()
            }, 2500)
        }

    },
    components:{
        actionMenu,
        followBotton,
        likeButton,
        bookmarkButton
    },

    directives: {
        trim: {
            // directive definition
            inserted: function (el) {
             var str = el.innerHTML;
				var resultString = str.split(' ').slice(0,50).join(" ") + "...";
				el.innerHTML = resultString
            }
		},
		trimHTML: {
            // directive definition
            inserted: function (el) {
             var str = el.innerHTML;
				var resultString = str.replace(/<(.|\n)*?>/g,'');
				el.innerHTML = resultString
            }
		},		
	}, 
}
</script>

<style>

</style>
