<template>
   <div>   
      <profile :userData="userData"/>   
      <interest/>
   </div>
</template>

<script>
import profile from './partials/profile'
import interest from './../../actions/myInterest'
export default {
  components:{
    profile,
    interest,
  },

  computed: {							
       userData : function(){ return this.$store.getters['auth/userData'] },
    },
}
</script>

<style>

</style>
