<template>
    <div>
        <span v-for="post in article" :key="post.id">
            <q-card>   
                <q-card-actions>                    
                    <div class="row fit">
                        <q-item class="full-width q-py-none">
                            <q-item-side>
                                <q-btn dense flat round :to="{name: 'Profile', params: {slug: post.user.slug}}">
                                    <img src="statics/boy-avatar.png" alt="" class="avatar">
                                </q-btn>                                
                            </q-item-side>
                            <q-item-main>
                            
                            <div>
                                <span>{{post.user.name}} </span>
                                <follow-botton :id="post.user_id" :type="'follow'" :size="'xs'"/>
                            </div>
                            
                            <span v-for="status in post.user.status" :key="status.id" class="text-faded">
                                <small v-if="status.type === 'education'">
                                    Studied {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'work'">
                                    {{status.course}} , at {{status.institution}}
                                </small>
                                <small v-else-if="status.type === 'award'">
                                    Awarded {{status.award}} , at {{status.institution}}
                                </small>
                            </span>
                            
                            <div>
                                <small class="q-caption text-faded">{{post.created_at}}</small>
                                <q-chip v-if="post.is_premium" color="red" dense square>
                                    Premium
                                </q-chip>
                                <q-chip v-else color="secondary" dense square>
                                    Free
                                </q-chip>
                            </div>
                            </q-item-main>                            
                        </q-item>                
                    </div>           
                      
                </q-card-actions>

                <q-card-separator />

            <q-card-media v-if="post.image">
                <img src="~assets/donuts.png">
            </q-card-media>

        
            <q-card-title>
                <h5 class="no-margin">{{post.title}}</h5>
            </q-card-title>
        
            <q-card-main>
                <div v-html="post.content"></div>
            </q-card-main>

            <q-card-separator />

            <q-card-actions>
                <q-item-main>
                    <like-button :id="post.id" :type="'post'" :count="post.likes"></like-button>
                        <bookmark-button :id="post.id" :type="'bookmark'"></bookmark-button>
                        <q-btn no-caps v-bind:to="{name: 'Post', params: {slug: post.slug}}" dense flat :class="post.comment.length ? '' : 'text-faded'">
                            {{post.comment.length}} Comments
                        </q-btn>
                        <q-btn no-caps dense flat :class="post.views ? 'text-info' : 'text-faded'">{{post.views}}  Views</q-btn>
                        <q-btn no-caps dense flat class="text-faded">Share
                            <q-tooltip>
                                {{'under testing'}}
                            </q-tooltip>  
                        </q-btn>
                </q-item-main>
                              
            </q-card-actions>

            <q-card-actions class="fit bg-grey-3" v-if="post.like">
                <q-item-side>
                    <span  class="gt-sm">
                        <span v-for="like in post.like" :key="like.id" class="feed-like-avatar-margin">
                            <q-btn dense flat round :to="{name: 'Profile', params: {slug: post.user.slug}}">
                                <img src="statics/boy-avatar.png" alt="" class="avatar">
                            </q-btn>                           
                            <q-tooltip>
                                {{like.user.name}}
                            </q-tooltip>  
                        </span> 
                        <span v-if="post.like.length > 4">
                            <q-btn icon="email" round size="md"/>
                            <q-tooltip>
                                view all
                            </q-tooltip>  
                        </span>                                    
                    </span>      
                </q-item-side>
            </q-card-actions>
        </q-card>

        <thought :id="post.id"></thought>

        <post-comment :comment="post.comments" :post_id="post.id"/>        

        </span>
        

        

    </div>
</template>

<script>
import actionMenu from './partials/action-menu';
import followBotton from './../../actions/followButton'
import likeButton from './../../actions/likeButton'
import bookmarkButton from './../../actions/bookmarkButton'
import thought from './../../thoughts/index'
import postComment from './partials/PostComment'

export default {
    
    computed:{
        article: function(){return this.$store.getters['post/posts'].filter((post) => {
                return post.slug == this.$route.params.slug
            })
        }
    },

    components:{
        actionMenu,
        followBotton,
        likeButton,
        bookmarkButton,
        thought,
        postComment
    },

}
</script>

<style>

</style>
