<template>
    <div>
        <q-card>
        <q-card-title>
            <q-item-side>
                <q-item-tile>Mentor Surggestion</q-item-tile>
            </q-item-side>
            <q-item-side slot="right">
                <q-item-tile>settins</q-item-tile>
            </q-item-side>
        </q-card-title>
        <q-card-separator/>
            <q-list separator>
                <q-item v-for="mentor in mentors" :key="mentor.id">
                    <q-item-side>
                        <q-btn dense flat round :to="{name: 'Profile', params: {slug: mentor.slug}}">
                            <img src="statics/boy-avatar.png" alt="" class="avatar">
                        </q-btn>
                    </q-item-side>
                    <q-item-main>
                    <div class="q-item-label">{{mentor.name}}</div>
                    <div class="q-item-sublabel" v-for="status in mentor.status" :key="status.id">
                        <small v-if="status.type === 'education'" class="text-faded">
                            Studied {{status.course}} , at {{status.institution}}
                        </small>
                        <small v-else-if="status.type === 'work'" class="text-faded">
                            {{status.course}} , at {{status.institution}}
                        </small>
                        <small v-else-if="status.type === 'award'" class="text-faded">
                            Awarded {{status.award}} , at {{status.institution}}
                        </small>
                    </div>
                    </q-item-main>
                    <q-item-side right>
                    <follow-botton :id="mentor.id" :type="'follow'" :size="'sm'"></follow-botton>
                    </q-item-side>                  
                </q-item>                                  
            </q-list>
        </q-card>
        <!--end column-->   
        <q-card>
            <q-card-title>

            </q-card-title>
            <q-card-main>
                <div class="row">
                    <div class="col-12 row">
                        <div class="q-mr-sm">
                            <div class="q-caption">About 5minutes</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Help</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Privacy Policy</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Cookie Policy</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Terms and Agreement</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Security</div>
                        </div>
                        <div class="q-mr-sm">
                            <div class="q-caption">Feedback</div>
                        </div>
                    </div> 
                    <q-card-separator/>
                    <div class="col-12 row">
                        <img src="statics/logo/logo-teal.png" alt="logo" class="q-mr-sm">
                        Corporation © 2018
                    </div>            
                </div>
            </q-card-main>
        </q-card>                   
                      
    </div>
</template>

<script>
import followBotton from './../../actions/followButton'
export default {
components:{
    followBotton,
},
computed: {							
       mentors : function(){ return ( this.$store.getters['post/mentors'])}
    },

}
</script>

<style>

</style>
