<template>
    <div>
        <p>Achievement</p>
        <education :id="userData.id"></education>
    </div>
</template>

<script>
import education from './partials/education'
export default {

    components:{
        education
    },

    computed:{
        userData : function(){ return this.$store.getters['auth/userData'] },
    },
    
    created() {
        this.get_achievements();
    },

    methods:{
         get_achievements: function () {
            this.$store.dispatch('achievement/get_achievements', this.$store.getters['auth/userData'].id)
            .then(() => {
                    this.loading = false;
                }
            )
            .catch(() => {
                this.error = 
                this.loading = false;
            });
        },

    }
}
</script>

<style>

</style>
