<template>
  <q-layout view="lHh Lpr lFf">
    
    <!-- header file for toolbar -->
    <header-file :isLoggedIn="isLoggedIn"/>

    <!-- left drawer for mobile users -->
    <drawer-menu v-if="isLoggedIn"/>

    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- footer file for page footer -->
    <footer-file :isLoggedIn="isLoggedIn" />

    <!-- sticky button the right side of the page -->
    <!-- <tools v-if="isLoggedIn" /> -->
  
  </q-layout>
</template>

<script>

import headerFile from './../components/layout/header/header'
import footerFile from './../components/layout/footer/footer'
import tools from './../components/layout/tools'
import drawerMenu from './../components/layout/leftDrawerMenu'
export default {
  name: 'MyLayout',
  
  data () {
    return {
      leftDrawerOpen: false,
    }
  },

  components:{
    headerFile,
    footerFile,
    tools,
    drawerMenu
  },

  

   computed : {
      isLoggedIn : function(){ return this.$store.getters['auth/isLoggedIn'] },
    },

    

}
</script>

<style>

</style>
