<template>
  <q-layout>
          
    <q-layout-header>
      <q-toolbar color="teal">
        
        <q-btn v-if="$q.platform.is.mobile" flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>
       

        <q-toolbar-title>
          <q-btn flat to="feed">5minutes</q-btn>     
        </q-toolbar-title>

        <q-search v-if="isLoggedIn" inverted v-model="search" color="none" />
        
        <q-btn label="Create" no-ripple no-wrap no-caps flat dense>
            <q-popover anchor="bottom right" self="top right">
                <q-list link>
                   <q-item>
            <q-item-side icon="email" />
            <q-item-main>
              <q-item-tile>Create Evenet</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-side icon="folder"/>
            <q-item-main>
              <q-item-tile>Create Evenet</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-side icon="assignment"/>
            <q-item-main>
              <q-item-tile>Vacation</q-item-tile>
            </q-item-main>
          </q-item>
                </q-list>
            </q-popover>
        </q-btn>

        
        <q-btn v-if="isLoggedIn" label="Message" no-ripple no-wrap no-caps flat dense icon="email">
          <q-popover anchor="bottom right" self="top right">
            <q-list link>
              <q-item>
                <q-item-side icon="folder" inverted color="primary" />
                <q-item-main>
                  <q-item-tile>Create Evenet</q-item-tile>
                  <q-item-tile>February 22, 2016</q-item-tile>
                </q-item-main>
                <q-item-side right icon="info" color="amber" />
              </q-item>
              <q-item-separator inset />
              <q-list-header inset>Files</q-list-header>
              <q-item>
                <q-item-side icon="assignment" inverted color="secondary" />
                <q-item-main>
                  <q-item-tile>Vacation</q-item-tile>
                  <q-item-tile>February 22, 2016</q-item-tile>
                </q-item-main>
                <q-item-side right icon="info" color="amber" />
              </q-item>
            </q-list>
          </q-popover>        
        </q-btn>

        <q-btn v-if="isLoggedIn" label="Notification" no-ripple no-wrap no-caps flat dense icon="email">
          <q-popover anchor="bottom right" self="top right">
            <q-list link>
              <q-item>
                <q-item-side icon="folder" inverted color="primary" />
                <q-item-main>
                  <q-item-tile>Create Evenet</q-item-tile>
                  <q-item-tile>February 22, 2016</q-item-tile>
                </q-item-main>
                <q-item-side right icon="info" color="amber" />
              </q-item>
              <q-item-separator inset />
              <q-list-header inset>Files</q-list-header>
              <q-item>
                <q-item-side icon="assignment" inverted color="secondary" />
                <q-item-main>
                  <q-item-tile>Vacation</q-item-tile>
                  <q-item-tile>February 22, 2016</q-item-tile>
                </q-item-main>
                <q-item-side right icon="info" color="amber" />
              </q-item>
            </q-list>
          </q-popover>        
        </q-btn>


        <q-btn v-if="!isLoggedIn" to="login" flat  dense icon="lock_open" label="Login"  />
        <q-btn v-if="!isLoggedIn" to="register" flat  dense icon="alarm" label="Register" />
        <q-chip v-if="isLoggedIn" avatar="statics/avatar.jpg" color="transparent">
            <strong v-if="isLoggedIn">{{userData.name}}</strong>
          <q-btn-dropdown no-ripple no-wrap no-caps flat dense>
          <q-list link>
            <q-list-header>
              <strong v-if="isLoggedIn">{{userData.name}}</strong>  
            </q-list-header>            
            <q-item-separator/>
            <q-item>
              <q-item-side icon="lock_open"/>
              <q-item-main>
                <q-item-tile> <q-btn to="logout" label="Logout" flat dense></q-btn></q-item-tile>
              </q-item-main>
            </q-item>
          </q-list>
          </q-btn-dropdown>
        </q-chip>
        
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null">
      <q-list no-border link inset-delimiter>
        <q-list-header>Essential Links</q-list-header>
        <q-item @click.native="openURL('http://quasar-framework.org')">
          <q-item-side icon="school" />
          <q-item-main label="Docs" sublabel="quasar-framework.org" />
        </q-item>
        <q-item @click.native="openURL('https://github.com/quasarframework/')">
          <q-item-side icon="code" />
          <q-item-main label="GitHub" sublabel="github.com/quasarframework" />
        </q-item>
        <q-item @click.native="openURL('https://discord.gg/5TDhbDg')">
          <q-item-side icon="chat" />
          <q-item-main label="Discord Chat Channel" sublabel="https://discord.gg/5TDhbDg" />
        </q-item>
        <q-item @click.native="openURL('http://forum.quasar-framework.org')">
          <q-item-side icon="record_voice_over" />
          <q-item-main label="Forum" sublabel="forum.quasar-framework.org" />
        </q-item>
        <q-item @click.native="openURL('https://twitter.com/quasarframework')">
          <q-item-side icon="rss feed" />
          <q-item-main label="Twitter" sublabel="@quasarframework" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    
    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false,
      search: '',
    }
  },

  methods: {
    openURL,
  },

   computed : {
      isLoggedIn : function(){ return this.$store.getters['auth/isLoggedIn'] },
      userData : function(){ return this.$store.getters['auth/userData'] },
    },

}
</script>

<style>
</style>
