<template>           
        <q-btn no-caps v-if="!isFollowing" @click="toggleFollow()" flat dense class="text-faded">Bookmark</q-btn>
        <q-btn no-caps v-else @click="toggleFollow()" flat dense class="text-info"> Bookmarked</q-btn>   
</template>

<script>
export default {
    props: ['id', 'type'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
            this.$axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            this.$axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
