<template>
    <q-btn v-if="!isFollowing" outline dense :size="this.size" label="follow" color="default" @click="toggleFollow()"></q-btn>
    <q-btn v-else outline dense  :size="this.size" color="secondary" label="Following" @click="toggleFollow()"></q-btn> 
</template>
<script>
export default {
    props: ['id', 'type','size'],
    data() {
        return {
            isFollowing: this.userIsFollowing()
        }
    },
    methods: {
        toggleFollow() {
           this.$axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
           this.$axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                    } else {
                        this.isFollowing = false;
                    }
                });
        }
    }
}
</script>
