<template>
    <div>
        <q-card>
            <q-card-title>
                <q-card-tile>
                    Followers
                </q-card-tile>
            </q-card-title>
            <q-card-main>
                <q-card-tile>
                     <span v-for="follower in followers" :key="follower.id" class="feed-like-avatar-margin">
                        <q-btn dense flat round :to="{name: 'Profile', params: {slug: follower.user.slug}}">
                            <img src="statics/boy-avatar.png" alt="" class="avatar">
                        </q-btn>                           
                        <q-tooltip>
                            {{follower.user.name}}
                        </q-tooltip>  
                    </span> 
                </q-card-tile>
            </q-card-main>
        </q-card>
    </div>
</template>

<script>
export default {

    data(){
        return{
            followers: null
        }
    },

    created() {
        this.get_followers();
    },

    methods:{
        get_followers(){
            this.$axios.get('api/followers')
            .then(Response => {
                this.followers = Response.data
            })
        }
    }

}
</script>

<style>

</style>
