<template>
     <div>
        <q-card>
            <q-card-title>
                <q-card-tile>
                    Following
                </q-card-tile>
            </q-card-title>
            <q-card-main>
                <q-card-tile>
                     <span v-for="following in followings" :key="following.id" class="feed-like-avatar-margin">
                        <q-btn dense flat round :to="{name: 'Profile', params: {slug: following.user.slug}}">
                            <img src="statics/boy-avatar.png" alt="" class="avatar">
                        </q-btn>                           
                        <q-tooltip>
                            {{following.user.name}}
                        </q-tooltip>  
                    </span> 
                </q-card-tile>
            </q-card-main>
        </q-card>
    </div>
</template>

<script>
export default {

    data(){
        return{
            followings: null
        }
    },

    created() {
        this.get_followings();
    },

    methods:{
        get_followings(){
            this.$axios.get('api/followings')
            .then(Response => {
                this.followings = Response.data
            })
        }
    }

}
</script>

<style>

</style>