<template>
    <p>{{get_categories}}</p>
</template>

<script>
export default {
    computed:{
        get_categories: function(){ return this.$store.getters['category/categories']}
    }
}
</script>

<style>

</style>
