<template>           
        <q-btn no-caps v-if="!isFollowing" @click="toggleFollow(get_count++)" flat dense class="text-faded">
            {{get_count}} Like 
        </q-btn>
           
        <q-btn no-caps v-else @click="toggleFollow(get_count--)" flat dense class="text-info">
            {{get_count}} Unlike
        </q-btn>   
</template>

<script>
export default {
    props: ['id', 'type', 'likeable', 'count'],
    data() {
        return {
            isFollowing: this.userIsFollowing(),
            get_count: this.count,
        }
    },
    methods: {
        toggleFollow() {
            this.$axios.get('/api/toggleFollow?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    this.isFollowing = !this.isFollowing
                });
        },
        userIsFollowing() {
            this.$axios.get('/api/following?id=' + this.id + '&type=' + this.type)
                .then(({data}) => {
                    if (data == 1) {
                        this.isFollowing = true;
                        this.get_count++;
                    } else {
                        this.isFollowing = false;
                        this.get_count--;
                    }
                });
        }
    }
}
</script>
