<template>
    <q-card class="no-shadow">
        <q-card-title>
            My Interest
            <span slot="subtitle">Subtitle</span>
            <q-icon slot="right" name="more_vert"/>
        </q-card-title>
        <q-card-separator />               
        <q-list link inset-separator>
            <q-item v-for="interest in userData.interest" :key="interest.id">
                <q-item-side>
                    <img src="statics/boy-avatar.png" alt="" class="avatar">
                </q-item-side>
                <q-item-main>
                <div class="q-item-label">{{interest.category.name}}</div>
                <div class="q-item-sublabel">
                    <small>{{interest.category.description}}</small>
                </div>
                </q-item-main>                
            </q-item>
            <q-item-separator/>
            <q-item>
                <q-item-main>
                    <q-item-tile>
                        all interest
                    </q-item-tile>
                </q-item-main>
            </q-item>                           
        </q-list>
        <q-card-separator />
    </q-card>
</template>

<script>
export default {
computed: {							
       userData : function(){ return this.$store.getters['auth/userData'] },
    },
}
</script>

<style>

</style>
