<template>
    <div>
        <p>settings</p>
        <achievement></achievement>
    </div>
</template>

<script>
import achievement from './../achievement/index'
export default {
    components:{
        achievement,
    }
}
</script>

<style>

</style>
