<template>
     <span v-if="userData"> 
        <message v-bind:user="userData.id"/>
     </span>
</template>

<script>
import message from './MessageApp'
export default {
    data(){
        return{
            // user:''
            message:'message',
            conversations: []
        }
    },
    components:{
        message,
    },  
    computed:{
        userData(){ return this.$store.getters['auth/userData'] }
    },
    mounted() {
        this.listen();
    },
    methods:{
        post_message(){          
            this.$axios.post('/api/message',{text:this.message})
        },

        listen() {
            this.$echo.channel('message')
            .listen('NewMessage', (e) => {
                this.conversations.push(e.message)
            });
        },
            
    }

}
</script>
