<template>
    <q-card-main v-if="contact">
        <q-scroll-area  style="height:400px" :thumb-style="{
            right: '4px',
            borderRadius: '5px',
            background: 'secondary',
            width: '5px',
            opacity: '1'
        }">
        <div v-for="message in messages" :key="message.id">            
            <q-chat-message  avatar="statics/boy-avatar.png" :name="(message.from == userData.id) ? userData.name : contact.name"
                :text="[message.text]" stamp="4 minutes ago"  :sent="(message.from == userData.id)"          
            />
        </div>
        </q-scroll-area>
    </q-card-main>
</template>

<script>
import {QChatMessage} from 'quasar'
    export default {
        props:['contact','messages'],
        components:{
            QChatMessage
        },
        computed:{
            userData(){ return this.$store.getters['auth/userData']}
        },
    }
</script>

<style>
</style>

