<template>
    <q-card flat class="fit row">
        <Conversation :contact="selected_contact" :messages="messages"/>
        <ContactsList :contacts="contacts"/>      
    </q-card>
</template>

<script>
    import Conversation from './Conversation';
    import ContactsList from './ContactsList';
    
    export default {
        props:['user'],
        data() {
            return {
                selectedContact: null,
                messages: [],
                userID: '',
            };
        },

        computed:{
            contacts: function(){ return this.$store.getters['message/contact']},
            selected_contact: function(){ return this.$store.getters['message/selected']},
        },

        mounted() {
            this.$echo.private('message.'+ this.user)            
                .listen('NewMessage', (e) => {
                    this.hanleIncoming(e.message);
                    alert('listining')
                });

            this.get_contact();
        },

        methods: {
            get_contact(){
                this.$store.dispatch('message/get_contact')
            },
                    
            hanleIncoming(message) {
                if (this.selected_contact && message.from == this.selected_contact.id) {
                    this.saveNewMessage(message);
                    return;
                }
                this.updateUnreadCount(message.from_contact, false);
            },
            saveNewMessage(message) {
                this.messages.push(message);
            },

            updateUnreadCount(contact, reset) {
                this.contacts = this.contacts.map((single) => {
                    if (single.id !== contact.id) {
                        return single;
                    }

                    if (reset)
                        single.unread = 0;
                    else
                        single.unread += 1;

                    return single;
                })
            }
        },

        components: {
            Conversation, 
            ContactsList
        }
    }
</script>


<style>
.chat-app {
    display: flex;
}
</style>
