<template>
    <div class="row flex-center">
        <q-field>
            <q-input type="textarea" v-model="form.message" inverted-light color="white" placeholder="Message..."/>
        </q-field>
        <q-field>
            <q-btn color="secondary" label="Send" @click.native="send" />
        </q-field>
    </div>
</template>

<script>
    export default {
        props:['contact_id'],

        data() {
            return {
                form:{
                    message: '',
                    contact_id: this.contact_id,
                }                
            };
        },
        methods: {
            send() {
                 if (!this.contact_id) {
                    return;
                }
                this.$store.dispatch('message/save_message',this.form)
                .then(Response => {
                    this.form.message = '';
                })
            }
        }
    }
</script>

<style>

</style>

