<template>
    <q-card flat class="text-center">
        <q-card-main v-if="success" class="text-info">
            <div>
                <p>Your account was activated Successfully</p>
                <q-btn label="click here to login" :to="{name: 'Login'}"/>
            </div>
        </q-card-main>   
        <q-card-main v-else-if="error" class="text-negative">
            <div>
                <p>Something went wrong: plese tr again</p>
            </div>
        </q-card-main>                     
    </q-card>
</template>

<script>

export default {
     data(){
      return {        
        success: null,
        error: null,
      }
    },

methods:{   
    activate_account(){           
            this.$axios.get('/api/signup/activate/'+ this.$route.params.token)
            .then(Response => {
                this.success = 'success'
            })
            .catch(err => {
                this.error = 'error'              
            })
        },
    },

    created() {
        this.activate_account();
    },
}
</script>

<style>

</style>
