<template>
    <q-card>
        <q-card-title class="text-center">
           Forgot Password
        </q-card-title>
        <q-card-separator />
        <q-card-main v-if="!msg">
           <q-field v-if="error">
                <p color="negative" class="text-negative text-center">
                    Error sending reset password link: please try again
                </p>
            </q-field>

            <q-field :error="$v.form.email.$error">
                <q-input type="email" v-model="form.email" float-label="Email" placeholder="Enter Email"/>
            </q-field>            
            <q-field>        
                <q-btn class="full-width" @click="forgot_password" color="secondary" label="Send reset link" :loading="loading" no-caps rounded>
                    <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                    <span slot="loading"> Sending password reset link..</span>
                </q-btn>
            </q-field>
        
            <q-field>
                <div class="row flex-center">          
                    <q-btn :to="{name: 'Login'}" flat dense no-caps color="secondary">Login</q-btn>
                </div>
            </q-field>
            <q-field>
                <social/>
            </q-field>

        </q-card-main>
        <q-card-main v-if="msg">
            <div class="text-center text-info">
                <p>We have emailed your password reset link to your registered email successfully</p>
                <p>please check your email and click on the link to reset your password</p>
            </div>
        </q-card-main>        
    </q-card>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import social from './partials/social'
export default {
     data(){
      return {
        form: {
            email: "",
        },
        loading: false,
        error: null,
        msg: null
      }
    },

    components:{
        social
    },
   
 validations: {
    form: {
      email: { required, email }
    }
  },

methods:{
    forgot_password: function () {
        this.msg = ''
        this.error = ''
        this.$v.form.$touch();
        if(this.$v.form.$error){
            return
        }else{
            this.loading = true;
            this.$axios.post('/api/password/create', this.form)
            .then(Response => {
                this.msg = 'link sent successful'
                this.form.email = ''
                this.loading = false;                        
            })
            .catch(err => {
                this.loading = false;
                this.error = 'error'
            });
        }        
      },      
      
    }
}
</script>

<style>

</style>


