<template>
    <q-card>
        <q-card-title class="text-center">
           Login to 5minutes
        </q-card-title>
        <q-card-separator />
        <q-card-main>
           <q-field v-if="error">
                <div v-if="error == 'inactive'" class="text-center">
                    <p  color="negative" class="text-negative">
                        Please Activate account to login  
                    </p>

                    <p v-if="activation_link_msg" class="text-info"> {{activation_link_msg}} </p>
                    <q-btn align="center" @click="resend_activation" dense flat no-caps color="secondary"
                        label="Resend Activation Email" :loading="loading_link">
                            <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                            <span slot="loading" class="text-italic">  sending activation link...</span>
                    </q-btn>
                </div>
                <p v-if="error == 'review'" color="negative" class="text-info text-center">
                    your account is under review
                </p>
                <p v-if="error == 'error'" color="negative" class="text-negative text-center">
                    Username or Password incorrect
                </p>
            </q-field>
            <q-field :error="$v.form.email.$error">
                <q-input type="email" v-model="form.email" float-label="Email" placeholder="Enter Email"/>
            </q-field>
            <q-field :error="$v.form.password.$error">
                <q-input type="password" v-model="form.password" float-label="Password" placeholder="Enter Password" @keyup.enter="login"/>
            </q-field>
            <q-field>        
                <q-btn class="full-width" @click="login" color="secondary" label="Sign in" :loading="loading" no-caps rounded>
                    <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                    <span slot="loading"> Signing In..</span>
                </q-btn>
            </q-field>
        
            <q-field>
                <div class="row flex-center">            
                    <q-btn :to="{name: 'Register'}" flat dense no-caps color="secondary">Sign up for 5minutes</q-btn>
                    <q-btn :to="{name: 'Forgot-Password'}" flat dense no-caps color="secondary">Forgot password</q-btn>
                </div>
            </q-field>
            <q-field>
                <social/>
            </q-field> 
        </q-card-main>        
    </q-card>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import social from './partials/social'
export default {
     data(){
      return {
        form: {
            email: "",            
            password: ""
        },
        activation_email: null,
        activation_link_msg: null,
        loading: false,
        loading_link: false,
        error: null,
      }
    },

    components:{
        social
    },
   
 validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },

methods:{
    login: function () {
        this.$v.form.$touch();
        if(this.$v.form.$error){
            return
        }else{
            this.loading = true;
            this.$store.dispatch('auth/auth_login', this.form)
            .then(Response => {
                if(Response.data.status == 'successful'){
                   this.$router.push({name: 'Feed'});
                }else if(Response.data.status == 'inactive'){
                    if(Response.data.data.is_mentor || Response.data.data.is_organization){
                        this.error = 'review'
                    }else{
                        this.error = 'inactive'
                        this.activation_email = this.form.email
                    }
                }else if(Response.data.status == 'error'){
                    this.error = 'error'
                    return
                }

                this.form.email = ''
                this.form.password = ''

                this.loading = false;                          
            })
            .catch(err => {
                this.loading = false;
                this.error = 'error'
            });
        }        
      },
      
      resend_activation(){
            this.loading_link = true;
            this.$axios.get('/api/signup/resendActivation/'+ this.activation_email)
            .then(Response => {
                if(Response.data.status == 'successful'){
                    this.activation_link_msg = 'Activation link successfully sent to your email'
                    this.loading_link = false;
                }else{
                    this.activation_link_msg = 'Error Sending Activation Link: Plese try again'
                    this.loading_link = false;
                }                
            })
            .catch(err => {
                this.activation_link_msg = 'Error Sending Activation Link: Plese try again'
                this.loading_link = false;
            })
        },
    }
}
</script>

<style>

</style>
