<template>
 <q-card style="width: 700px; max-width: 900px">
        <q-card-title class="text-center">
            5minutes Organizational Mentor
        </q-card-title>
        <q-card-separator />
        <q-card-main>
            <q-field v-if="error">
                <p v-if="error == 'exist'" color="negative" class="text-negative text-center">
                    User Alread Exist, <q-btn :to="{name: 'Login'}" label="Login" flat dense no-caps no-wrap color="secondary"/>
                </p>
                <p v-if="error == 'error'" color="negative" class="text-negative text-center">
                    Sorr somthing went wrong Please Try again or Contact Support
                </p>
            </q-field>
           <div class="row">
                <q-field :error="$v.form.name.$error" class="col-md-6">
                    <q-input type="text" v-model="form.name" float-label="Name of Organization" placeholder="Enter Name of Organization"/>
                </q-field>    
                <q-field :error="$v.form.org_email.$error" class="col-md-6">
                    <q-input type="email" v-model="form.org_email" float-label="Organizations Official Email" placeholder="Organizations Official Email"/>
                </q-field>
                <q-field class="col-md-6">
                    <q-input type="text" v-model="form.phone" float-label="Organizations Mobile" placeholder="Enter Organizations Mobile"/>
                </q-field>    
                <q-field class="col-md-6">
                    <q-input type="email" v-model="form.org_website" float-label="Organizations Website" placeholder="Organizations Website"/>
                </q-field>
                <q-field :error="$v.form.org_address.$error" class="col-md-12">
                    <q-input type="textarea" v-model="form.org_address" float-label="Organizations Address" placeholder="Enter Organizations Address"/>
                </q-field>

                <q-field :error="$v.form.contact_name.$error" class="col-md-6">
                    <q-input type="text" v-model="form.contact_name" float-label="Contact Persons Full Name" placeholder="Enter Contact Persons Name"/>
                </q-field>    
                <q-field :error="$v.form.contact_phone.$error" class="col-md-6">
                    <q-input type="number" v-model="form.contact_phone" float-label="Contact Persons Phone" placeholder="Enter Contact Persons Phone Number"/>
                </q-field>

                <q-field class="col-md-6">
                    <q-input type="text" v-model="form.facebook" float-label="Facebook Link" placeholder="Enter Facebook Link"/>
                </q-field>    
                <q-field class="col-md-6">
                    <q-input type="text" v-model="form.twitter" float-label="Twitter Link" placeholder="Enter Twitter Link"/>
                </q-field>
                <q-field class="col-md-6">
                    <q-input type="text" v-model="form.linkedin" float-label="linkedin Link" placeholder="Enter linkedin Link"/>
                </q-field> 

                <q-field :error="$v.form.email.$error" class="col-md-6">
                    <q-input type="email" v-model="form.email" float-label="Login Email" placeholder="Enter Login Email"/>
                </q-field>               
                <q-field :error="$v.form.password.$error" class="col-md-6">
                    <q-input type="password" v-model="form.password" float-label="Password" placeholder="Enter Password"/>
                </q-field>
                <q-field :error="$v.form.password_confirmation.$error" class="col-md-6">
                    <q-input type="password" v-model="form.password_confirmation" float-label="Confirm Password" placeholder="Repeat Password"/>
                </q-field>
           </div>
            
            <q-field>
                <div class="row no-wrap">
                    <q-btn no-caps class="full-width" rounded @click="register" color="secondary" label="Sign Up" :loading="loading">
                        <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                        <span slot="loading" class="text-italics"> Signing Up...</span>
                    </q-btn>
                </div>
            </q-field>
        <q-field>
            <p class="text-center">Already registered <q-btn to="login" no-caps flat dense color="secondary">Login</q-btn></p>
        </q-field>
    </q-card-main>        
</q-card>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import social from './partials/social'
export default {
     data(){
      return {
        form: {
            name: '',
            org_email: '',
            phone: '',
            org_website: '',
            org_address: '',
            is_mentor: true,
            is_organization: true,

            contact_name: '',
            contact_phone: '',
            email: '',

            facebook: '',
            twitter: '',
            linkedin: '',   

            password: '',
            password_confirmation: '',

            type: 'organisation'
          },
        loading: false,
        error: null,
      }
    },


 validations: {
    form: {
        name: { required },
        org_email: { required, email },
        phone: {},
        org_website: {},
        org_address: { required },
        email: { required, email },
        contact_name: { required },
        contact_phone: { required },
        password: { required },
        password_confirmation: { required },
    }
  },

    methods:{
     register: function () { 
         this.error = null; 
         this.$v.form.$touch()
        if (this.$v.form.$error) {
            return
        }else{            
            this.loading = true;
            this.$store.dispatch('auth/auth_register', this.form)
            .then(Response => {
                if(Response.data.status == 'successful'){
                    this.$router.push({name: 'Registration-Success', query: {type: 'organization'}})
                }else{                    
                    this.error = Response.data.status
                }  

                this.form.name = '',
                this.form.org_email = '',
                this.form.phone = '',
                this.form.org_website = '',
                this.form.org_address = '',
                this.form.is_organization = true,

                this.form.contact_name = '',
                this.form.contact_phone = '',

                this.form.email = '', 

                this.form.facebook = '',
                this.form.twitter = '',
                this.form.linkedin = '',  

                this.form.password = '',
                this.form.password_confirmation = '',
                this.form.type = 'organisation',

                this.loading = false;
                
            })
            .catch(err => {
                this.loading = false;
                this.error = 'error'
            });
        }        
      }
    }
}
</script>

<style>

</style>

