<template>
    <q-card style="width: 400px; max-width: 500px">
        <q-card-title class="text-center">
            Sign up for 5minutes
        </q-card-title>
        <q-card-separator />
        <q-card-main>

                <q-field v-if="error">
                    <p v-if="error == 'exist'" color="negative" class="text-negative text-center">
                        User Alread Exist, <q-btn :to="{name: 'Login'}" label="Login" flat dense no-caps no-wrap color="secondary"/>
                    </p>
                    <p v-if="error == 'error'" color="negative" class="text-negative text-center">
                        Sorr somthing went wrong Please Try again or Contact Support
                    </p>
                </q-field>

                <q-field :error="$v.form.name.$error">
                    <q-input type="text" v-model="form.name" float-label="Full Name" placeholder="Enter Full Name"/>
                </q-field>    
                <q-field>
                    <q-input type="number" v-model="form.phone" float-label="Phone" placeholder="Enter Phone Number"/>
                </q-field>
                <q-field :error="$v.form.email.$error">
                    <q-input type="email" v-model="form.email" float-label="Email" placeholder="Enter Email"/>
                </q-field>
                <q-field :error="$v.form.password.$error">
                    <q-input type="password" v-model="form.password" float-label="Password" placeholder="Enter Password"/>
                </q-field>
                <q-field :error="$v.form.password_confirmation.$error">
                    <q-input type="password" v-model="form.password_confirmation" float-label="Confirm Password" placeholder="Repeat Password"/>
                </q-field>
                
                <q-field>
                    <div class="row no-wrap">
                        <q-btn no-caps class="full-width" rounded @click="register" color="secondary" label="Sign Up" :loading="loading">
                            <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                            <span slot="loading" class="text-italics"> Signing Up...</span>
                        </q-btn>
                    </div>
                </q-field>
            <q-field>
                <p class="text-center">Already registered <q-btn :to="{name: 'Login'}" no-caps flat dense color="secondary">Login</q-btn></p>
            </q-field>   
            <q-field>
                <social/>
            </q-field>
        </q-card-main>        
    </q-card>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import social from './partials/social'
export default {
     data(){
      return {
        form: {
            name: '',
            phone: '',
            email: '',            
            password: '',
            password_confirmation: '',
            type: 'user'
          },
        loading: false,
        error: null,
      }
    },

    components:{
        social
    },

 validations: {
    form: {
        email: { required, email },
        name: { required },
        password: { required },
        password_confirmation: { required },
    }
  },



    methods:{
     register: function () {
         this.error = null;       
         this.$v.form.$touch()         
        if (this.$v.form.$error) {
            return
        }else{
            this.loading = true;
            this.$store.dispatch('auth/auth_register', this.form)
            .then( Response => {
                if(Response.data.status == 'successful'){
                    this.$router.push({name: 'Registration-Success', query: {type: 'user'}})
                }else{                    
                    this.error = Response.data.status
                }  

                this.form.name = '',
                this.form.phone = '',
                this.form.email = '',            
                this.form.password = '',
                this.form.password_confirmation = '',
                this.form.type = 'user'

                this.loading = false;
                          
            })
            .catch(err => {
                this.loading = false;
                this.error = 'error'
            });
        }        
      },    

}
}
</script>

<style>

</style>

