<template>
    <q-card>
        <q-card-title class="text-center">
          Reset Password 
        </q-card-title>
        <q-card-separator />
        <q-card-main v-if="find_token_error" class="text-info">
            <div>
                <p>Invalid Reset token</p>
                <q-btn label="Get new reset token" :to="{name: 'Forgot-Password'}"/>
            </div>
        </q-card-main>   
        <q-card-main v-else-if="msg" class="text-info">
            <div>
                <p>Your password ben reset Successfully</p>
                <q-btn label="Click here to login" :to="{name: 'Login'}"/>
            </div>
        </q-card-main>
        <q-card-main v-else>
           <q-field v-if="error">
                <p color="negative" class="text-negative text-center">
                    Somthingg went wrong: please try again
                </p>
            </q-field>
            <q-field :error="$v.form.email.$error">
                <q-input type="email" v-model="form.email" float-label="Email" placeholder="Enter Email" readonly/>
            </q-field>
             <q-field :error="$v.form.password.$error">
                <q-input type="password" v-model="form.password" float-label="Password" placeholder="Enter Password"/>
            </q-field>
            <q-field :error="$v.form.password_confirmation.$error">
                <q-input type="password" v-model="form.password_confirmation" float-label="Confirm Password" placeholder="Repeat Password"/>
            </q-field>
            <q-field>        
                <q-btn class="full-width" @click="reset_password" color="secondary" label="Sign in" :loading="loading" no-caps rounded>
                    <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                    <span slot="loading"> Reseting password..</span>
                </q-btn>
            </q-field>
        
            <q-field>
                <div class="row flex-center">            
                    <q-btn :to="{name: 'Login'}" flat dense no-caps color="secondary" label="Login"/>
                </div>
            </q-field>
            <q-field>
                <social/>
            </q-field> 
        </q-card-main>              
    </q-card>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import social from './partials/social'
export default {
     data(){
      return {
        form: {
            email: "",
            token: '',    
            password: '',
            password_confirmation: '',
        },
        find_token_error: null,
        loading: false,
        msg: null,
        error: null,
      }
    },

    components:{
        social
    },
   
 validations: {
    form: {
        email: { required, email },
        password: { required },
        password_confirmation: { required },
    }
  },

methods:{
    reset_password: function () {
        this.msg = null,
        this.error = null,
        this.$v.form.$touch();
        if(this.$v.form.$error){
            return
        }else{
            this.loading = true;
            this.$axios.post('/api/password/reset', this.form)
            .then(Response => {
                
                this.msg = 'Password Reset Successfully'

                this.form.email = ''
                this.form.password = ''
                this.form.token = ''

                this.loading = false;                          
            })
            .catch(err => {
                this.loading = false;
                this.error = 'error'
            });
        }        
      },      
      
      find_token(){            
            this.$axios.get('/api/password/find/'+ this.$route.query.token)
            .then(Response => {
                this.form.email = Response.data.email
                this.form.token = Response.data.token
            })
            .catch(err => {
                this.find_token_error = 'Invalid Token'            
            })
        },
    },

    created() {
          this.find_token();
      },
}
</script>

<style>

</style>
