<template>
   <div v-if="type">
       <q-card flat class="flex-center" v-for="data in registered_user" :key="data.id">
           <q-card-media>
               <img src="/statics/boy-avatar.png" class="avatar"/>
               <h4>{{data.name}}</h4>
               <h5>Thank you for registring for 5minutes</h5>
           </q-card-media>
           <q-card-main v-if="type == 'user'">               
               <p>Activation email has benn sent to your registered email address</p>

               <p v-if="activation_link_msg" class="text-info"> {{activation_link_msg}} </p>

               <q-btn @click="resend_activation(data.email)" dense flat no-caps color="secondary"
                label="Resend Activation Email" :loading="loading">
                    <q-spinner-ios slot="loading" class="q-mr-sm"></q-spinner-ios>
                    <span slot="loading" class="text-italic">  sending activation link...</span>
               </q-btn>
           </q-card-main>
           <q-card-main v-if="type == 'mentor'">          
               <p>your profile will be reviewed and activated in due time</p>
           </q-card-main>
           <q-card-main v-if="type == 'organization'">          
               <p>your profile will be reviewed and activated in due time</p>
           </q-card-main>
           <q-card-main>
                <q-btn label="Back Home" dense flat color="secondary" :to="{name: 'Home'}"/>
           </q-card-main>
       </q-card>
   </div>
   <div v-else>
       no data <q-btn label="Back Home" dense flat color="secondary" :to="{name: 'Home'}"/>
   </div>
</template>

<script>
export default {
    data(){
        return{
            loading: false,
            error: null,
            activation_link_msg: null,
        }
    },

    computed:{
        registered_user: function(){ return this.$store.getters['auth/registered_user']},
        type: function(){ return this.$route.query.type}
    },

    methods:{
        resend_activation(email){
            this.loading = true;
            this.$axios.get('/api/signup/resendActivation/'+email)
            .then(Response => {
                if(Response.data.status == 'successful'){
                    this.activation_link_msg = 'Activation Link Sent Successfully'
                    this.loading = false;
                }else{
                    this.activation_link_msg = 'Error Sending Activation Link: Plese try again'
                    this.loading = false;
                }                
            })
            .catch(err => {
                this.activation_link_msg = 'Error Sending Activation Link: Plese try again'
                this.loading = false;
            })
        }
    }

}
</script>

<style>

</style>
